body h1:not([class]) {
    padding-bottom: 15px;
    font-size: 31px;
}

.services-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 65px;

    .service-item__wrapper {
        position: relative;
        width: calc(100% / 3 - 30px);
        padding-bottom: calc(100% / 3 - 30px);
        margin: 15px;
    }

    .service-item {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        color: #ffffff;
        transition: all 0.3s ease-in-out;
        overflow: hidden;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        a {
            color: #ffffff;
        }

        &:hover {
            .service-item__content {
                height: 100%;
                padding-top: 60px;
            }

            .service-item__content-wrapper {
                background: rgba(0, 0, 0, 0.8);
            }

        }
    }

    .service-item__content {
        width: 100%;
        padding: 40px 60px;
        transition: height 0.4s ease-in-out, padding-top 0.4s ease;
    }

    .service-item__title {
        display: block;
        max-height: 68px;

        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        overflow: hidden;
    }

    .service-item__link {
        display: block;
        font-size: 17px;
        font-weight: 600;
        line-height: 25px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        & + .service-item__link {
            margin-top: 20px;
        }
    }

    .service-item__content-wrapper {
        width: 100%;
        transition: height 0.4s ease, background-color 0.6s ease;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    }

    .service-item__links-wrapper {
        padding-top: 30px;
    }

    .service-item__links-resizer {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }
}
