@import "../../../../../sotbit_origami/assets/scss/variables.scss";

.menu-catalog-one {
    display: flex;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease 0s;
    overflow: hidden;
}

.header-two__menu-catalog.menu-catalog-one {
    overflow: initial;
}

.main-menu-wrapper__submenu {
    display: none;
}

.main-menu-wrapper__submenu-main {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #C80033;

    &.main-menu-wrapper__submenu-main--gray {
        background-color: #EDEDED;

        & .main-menu_item-main {
            background-color: #EDEDED;

            & > a,
            & > span {
                color: #000;
            }

            & .menu-catalog-one__menu-item-icon {
                fill: #000;
            }

            &.hover {
                color: $main_color;

                & > a,
                & > span {
                    color: $main_color;
                }

                & .menu-catalog-one__menu-item-icon {
                    fill: $main_color;
                }
            }
        }
    }
}

.main-menu_item-main {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    background-color: #C80033;
    color: #fff;

    & > a,
    & > span {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        padding: 15px 30px;
        padding-right: 40px;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
    }

    & > a:active {
        color: #fff;
    }

    & .menu-catalog-one__menu-item-icon {
        position: absolute;
        right: 30px;
        transform: rotate(-90deg);
        top: calc(50% - 6px);
        width: 12px;
    }

    &.hover,
    &.current,
    &.active {
        background-color: #F7F7F7;
        color: $main_color;

        & > a,
        & > span {
            color: $main_color;
        }

        & > a:active {
            color: #fff;
        }

        & .menu-catalog-one__menu-item-icon {
            fill: $main_color;
        }
    }
}

.main-menu-wrapper__submenu-two-wrapper {
    & > ul {
        background-color: #F7F7F7;

        & > a {
            position: relative;
        }
    }

    .main-menu-wrapper__submenu {
        display: block;
        position: relative;
        height: 100%;
    }
}

.main-menu_item-submenu {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    background-color: #F7F7F7;
    color: #000;

    & > a,
    & > span {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        padding: 15px 30px;
        padding-right: 40px;
        font-size: 1rem;
        font-weight: 700;
        color: #000;
    }

    & .menu-catalog-one__menu-item-icon {
        position: absolute;
        right: 30px;
        transform: rotate(-90deg);
        top: calc(50% - 6px);
        width: 12px;
        fill: #000;
    }

    &.hover,
    &.current,
    &.active {
        background-color: #FFF;
        color: $main_color;

        & > a,
        & > span {
            color: $main_color;
        }

        & .menu-catalog-one__menu-item-icon {
            fill: $main_color;
        }
    }
}

.main-menu-wrapper__submenu-three-wrapper {
    & > ul {
        background-color: #fff;
        border-right: 1px solid #F7F7F7;
    }


    .main-menu-wrapper__submenu-two {
        display: block;
        position: relative;
        height: 100%;
    }
}

.main-menu-wrapper__submenu-two {
    background-color: #fff;
    display: none;

    & .main-menu_item-submenu {
        background-color: #fff;

        &.hover,
        &.active,
        &.current {
            background-color: #F7F7F7;
            color: $main_color;

            & > a {
                color: $main_color;
            }
        }
    }
}

.main-menu-wrapper__submenu-wrapper {
    display: flex;
}

.main-menu-wrapper__submenu-banner {
    display: none;
    height: 100%;
}
.main-menu-wrapper__submenu-banner-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 220px;
    flex-shrink: 0;

    & > img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}

.main-menu-wrapper__submenu-banner-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    background-color: #f2f2f2;
}

.main-menu-wrapper__submenu-banner-wrapper {
    & > .main-menu-wrapper__submenu-banner {
        display: flex;
        flex-direction: column;
    }
}

.main-menu-wrapper__submenu-banner-title {
    font-size: 13px;
    line-height: 20px;
    color: #808080;
}

.main-menu-wrapper__submenu-banner-labels {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.main-menu-wrapper__submenu-banner-label {
    padding: 2px 10px;
    font-size: 11px;
    color: #FFF;
    font-weight: 700;
    line-height: 16px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: $main_color;

    &:hover {
        color: #FFF;
        background-color: #C80033;
    }
}

