@import "search-result";

@keyframes opacityLogoHeader {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes heightLogoHeader {
    0% {height: 44px;}
    100% {height: 0;}
}

.header-search {
    position: relative;
}

.header-search__logo {
    display: none;
}

.header-search__btn-search {
    display: flex;
    align-items: center;
}

@media (max-width: 1023px) {
    .form-search {
        position: relative;

        &.form-search--logo-hide {
            input {
                &::placeholder {
                    opacity: 1;
                }
            }
        }
    }

    .header-search__logo {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 100%;
        width: 100%;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
        cursor: text;
        animation: opacityLogoHeader 1s 2s, heightLogoHeader 0s 3s;
        animation-fill-mode: forwards;

        img {
            max-width: 50%;
            max-height: 80%;
        }
    }
}

