$namespace: 'bitrix';
$component: 'sale-personal-order-detail';
$template: 'default';
$class: $component;

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  display: block;

  .#{$class}-wrapper {}
  .#{$class}-wrapper-2 {}

  .#{$class}-header {}

  .#{$class}-header-title {
    display: block;
    font-size: 1.071429em;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
  }

  .#{$class}-blocks {
    display: block;
    margin: -20px 0;
    overflow: hidden;
  }

  .#{$class}-block {
    display: block;
    border: 1px solid #ebebeb;
    margin: 20px 0;
  }

  .#{$class}-block-header {
    display: block;
    text-align: left;
    font-size: 1.28571429em;
    line-height: 1.5;
    padding: 20px 20px 35px 20px;
    margin: 0;
  }

  .#{$class}-block-content {
    display: block;
    padding: 0 20px 20px 20px;
  }

  .#{$class}-block-fields {}
  .#{$class}-block-field {}

  .#{$class}-block-field-name {
    display: block;
    color: #888;
    margin-bottom: 2px;
  }

  .#{$class}-block-field-value {
    display: block;
  }

  .#{$class}-block {
    &.#{$class}-block-splitted {
      .#{$class}-block-header {
        padding-bottom: 20px;
      }

      .#{$class}-block-content {
        padding-top: 20px;
        border-top: 1px solid #ebebeb;
      }
    }

    &[data-block="information"] {
      .#{$class}-block-field {
        &[data-field="comment"] {
          .#{$class}-block-field-name {
            margin-bottom: 5px;
          }

          .#{$class}-block-field-value {
            padding: 1em;
            background-color: #f1f1f1;
          }
        }
      }
    }
  }

  .#{$class}-payment {}
  .#{$class}-payment-information {}

  .#{$class}-payment-information-icon {
    i {
      display: block;
      background-image: url('./images/payment.information.icon.png');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      width: 45px;
      height: 55px;
    }
  }

  .#{$class}-payment-information-content {}

  .#{$class}-payment-items {
    margin: -20px 0;
  }

  .#{$class}-payment-item {
    padding: 20px 0;

    &.#{$class}-payment-item-active {
      .#{$class}-payment-item-button {
        &.#{$class}-payment-item-button-pay {
          display: none;
        }
      }

      .#{$class}-payment-item-form {
        display: block;
      }
    }
  }

  .#{$class}-payment-item-wrapper {}

  .#{$class}-payment-item-icon {
    i {
      display: block;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      width: 125px;
      height: 50px;
    }
  }

  .#{$class}-payment-item-content {}

  .#{$class}-payment-item-content-part {
    &.#{$class}-payment-item-content-part-common {
      position: relative;
      z-index: 0;
    }
  }

  .#{$class}-payment-item-name,
  .#{$class}-payment-item-state {
    display: inline-block;
    vertical-align: middle;

  }

  .#{$class}-payment-item-name {
    margin-right: 0.4em;
  }

  .#{$class}-payment-item-state {
    padding: 0.25em 0.63em;
    margin: 0.4em 0;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-size: 0.857143em;
    font-weight: bold;
    background: #fafafa;
    color: #333333;

    &[data-state="paid"] {
      border: 1px solid #bed277;
      background: #e3f0bd;
      color: #597707;
    }

    &[data-state="restricted"] {
      border: 1px solid #b5bbc3;
      background: #f3f4f5;
      color: #535c69;
    }

    &[data-state="unpaid"] {
      border: 1px solid #eab3b9;
      background: #ffe5e8;
      color: #d0021b;
    }
  }

  .#{$class}-payment-item-sum {
    font-size: 0.928571em;
    padding-top: 4px;
  }

  .#{$class}-payment-item-checks {
    padding-top: 10px;
    font-size: 0.857143em;
  }

  .#{$class}-payment-item-checks-title {
    font-weight: bold;
  }

  .#{$class}-payment-item-checks-items {}
  .#{$class}-payment-item-checks-item {}

  .#{$class}-payment-item-change,
  .#{$class}-payment-item-cancel {
    display: inline-block;
    font-size: 0.857143em;
  }

  .#{$class}-payment-item-buttons {}
  .#{$class}-payment-item-button {}

  .#{$class}-payment-item-form {
    display: none;
    position: relative;
    border: 1px solid #ebebeb;
    padding: 24px;
  }

  .#{$class}-payment-item-form-close {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: auto;
    left: auto;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    color: #888888;
  }

  .#{$class}-payment-item-form-content {}
  .#{$class}-shipment {}

  .#{$class}-shipment-items {
    margin: -20px 0;
  }

  .#{$class}-shipment-item {
    padding: 20px 0;
  }

  .#{$class}-shipment-item-name {}

  .#{$class}-shipment-item-fields {
    padding-top: 20px;
  }

  .#{$class}-shipment-item-switch {
    padding-top: 20px;
  }

  .#{$class}-shipment-item-switch-expand {}

  .#{$class}-shipment-item-switch-collapse {
    display: none;
  }

  .#{$class}-shipment-item-information {
    display: none;
  }

  .#{$class}-shipment-item-store {
    padding-top: 20px;
  }

  .#{$class}-shipment-item-store-title {
    margin: 0;
  }

  .#{$class}-shipment-item-store-map {
    padding-top: 20px;
  }

  .#{$class}-shipment-item-store-address {
    padding-top: 20px;
  }

  .#{$class}-shipment-item-store-address-title {
    font-weight: bold;
  }

  .#{$class}-shipment-item-store-address-value {}

  .#{$class}-shipment-item-items {
    padding-top: 20px;
  }

  .#{$class}-shipment-item-items,
  .#{$class}-basket-items {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .#{$class}-shipment-item-items-table,
  .#{$class}-basket-items-table {
    min-width: 100%;

    thead {
      tr {
        th {
          color: #7c7c7c;
          font-weight: normal;
          padding: 10px;
        }
      }
    }

    tbody {
      tr {
        border-top: 1px solid #ebebeb;

        td {
          padding: 10px;
        }
      }
    }
  }

  .#{$class}-shipment-item-item,
  .#{$class}-basket-item {}

  .#{$class}-shipment-item-item-picture,
  .#{$class}-basket-item-picture {
    display: block;
    position: relative;
    width: 70px;
  }

  .#{$class}-shipment-item-item-picture-wrapper,
  .#{$class}-basket-item-picture-wrapper {
    display: block;
    position: relative;
    padding-top: 100%;
  }

  .#{$class}-shipment-item-item-picture-wrapper-2,
  .#{$class}-basket-item-picture-wrapper-2 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .#{$class}-shipment-item-item-name,
  .#{$class}-basket-item-name {
    color: inherit;
  }

  .#{$class}-basket-item-properties {
    margin-top: 10px;
  }

  .#{$class}-basket-item-property {
    font-size: 0.857143em;
  }

  .#{$class}-basket-item-property-name,
  .#{$class}-basket-item-property-value {
    display: inline;
  }

  .#{$class}-basket-item-property-name {
    font-weight: bold;
  }

  .#{$class}-basket-item-property-value {}
  .#{$class}-basket-item-price {}
  .#{$class}-basket-item-price-discount {}
  .#{$class}-basket-item-price-base {}

  .#{$class}-shipment-item-quantity,
  .#{$class}-basket-item-quantity {}

  .#{$class}-basket-item-sum {}
}