.detail_blog__banner {
    margin-bottom: 45px;
}

.detail_blog__banner img {
    max-width: 100%;
}

.detail_blog__banner a {
    position: relative;
    display: inline-block;
}

.detail_blog__banner .banner_button {
    position: absolute;
    bottom: 35px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.detail_blog__banner_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
