$namespace: 'bitrix';
$component: 'system-auth-forgotpasswd';
$template: 'default';
$class: $component;

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  display: block;

  .#{$class}-wrapper {}
  .#{$class}-wrapper-2 {}

  .#{$class}-block {
    display: block;
    border: 1px solid #ebebeb;
    padding: 20px;
  }

  .#{$class}-header {
    text-align: left;
    font-size: 1.28571429em;
    line-height: 1.5;
    margin: 0 0 35px 0;
  }

  .#{$class}-form {
    max-width: 400px;
  }

  .#{$class}-form-description {
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .#{$class}-form-buttons {
    display: block;
    margin-top: 20px;
  }
}