$component: 'advantages';
$template: 'template-5';

.widget.c-#{$component}.c-#{$component}-#{$template} {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .widget-wrapper-3 {
    padding: 160px 0;
  }
  .widget-header-custom {
    width: 40%;
    padding-right: 90px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &-title {
      font-size: 40px;
      font-weight: bold;
      line-height: 50px;
    }
    &-description {
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px;
    }
    &-decoration {
      width: 90px;
      margin-top: 35px;
      height: 10px;
    }
  }
  .widget-content {
    &-wrapper {
      overflow: hidden;
      min-height: 40px;
      margin-bottom: -40px;
    }
  }
  .widget-element {
    &-wrap {
      margin-bottom: 40px;

      &[data-picture='false'] {
        .widget-element-text-name {
          padding-left: 0;
        }
      }
    }
    &-picture {
      width: 85px;
      height: 85px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-text {
      &-name {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        padding-left: 25px;
      }
    }
  }
  &[data-theme='dark'] {
    .widget-header-custom {
      &-title {
        @extend %theme-dark;
      }
      &-description {
        @extend %theme-dark;
      }
      &-decoration {
        background-color: #333;
      }
    }
    .widget-element {
      &-text-name {
        @extend %theme-dark;
      }
    }
  }
  &[data-theme='light'] {
    .widget-header-custom {
      &-title {
        @extend %theme-light;
      }
      &-description {
        @extend %theme-light;
      }
      &-decoration {
        background-color: #FFF;
      }
    }
    .widget-element {
      &-text-name {
        @extend %theme-light;
      }
    }
  }
  %theme-dark {
    color: #333;
  }
  %theme-light {
    color: #FFF;
  }

  @media all and (max-width: 1200px) {
    .widget-header-custom {
      &-title {
        font-size: 35px;
        line-height: 45px;
        padding-right: 50px;
      }
    }
  }
  @media all and (max-width: 1000px) {
    .widget-header-custom + .widget-content {
      margin-top: 70px;
    }
    .widget-header-custom {
      padding-right: 0;

      &-title {
        text-align: center;
        padding-right: 0;
      }
      &-description {
        text-align: center;
      }
      &-decoration {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  @media all and (max-width: 720px) {
    .widget-wrapper-3 {
      padding: 100px 0;
    }
    .widget-header-custom {
      &-title {
        font-size: 30px;
        line-height: 40px;
      }
      &-description {
        font-size: 14px;
        line-height: 21px;
        margin-top: 10px;
      }
      &-decoration {
        height: 5px;
        margin-top: 30px;
      }
    }
    .widget-element {
      &-picture {
        width: 55px;
        height: 55px;
      }
      &-text-name {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  @media all and (max-width: 600px) {
    .widget-element {
      &-picture {
        margin-bottom: 20px;
      }
      &-text-name {
        padding-left: 20px!important;
        padding-right: 20px!important;
        text-align: center;
      }
    }
  }
}