$sliders-themes: (
  'default': (
    'background': #393a3e,
    'range': #1d4def,
    'handle': #1d4def
  )
);

.ui-slider {
  $theme: map-get($sliders-themes, 'default');

  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background: map-get($theme, 'background');

  .ui-slider-range {
    background: map-get($theme, 'range');
    height: 100%;
  }

  .ui-slider-handle {
    background: map-get($theme, 'range');
    cursor: pointer;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  &.ui-slider-horizontal {
    height: 2px;
    margin: 4px 5px;

    .ui-slider-handle {
      top: 0;
      margin-top: -4px;
      margin-left: -5px;
    }
  }
}