$namespace: 'bitrix';
$component: 'search-page';
$template: 'template-1';
$class: $component;

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  .#{$class}-form-wrap {
    margin-bottom: 30px;
  }
  .#{$class}-chain-wrap {
    margin-bottom: 8px;
  }
  .#{$class}-name-wrap {
    margin-bottom: 8px;
  }
  .#{$class}-item {
    margin-bottom: 40px;
  }
  .#{$class}-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #404040;
    text-decoration: none;
  }
  .#{$class}-picture {
    width: 120px;
    height: 80px;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
  }
  .#{$class}-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #808080;
  }
  .#{$class}-description b {
    color: #404040;
  }
  .#{$class}-chain,
  .#{$class}-chain a {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #808080;
    text-decoration: none;
  }
  .#{$class}-date {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #b0b0b0;
  }
  .#{$class}-suggest {
    background: #F6F6F6;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 2px;
    height: 36px;
    padding: 10px;
    min-width: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #5F5F5F;
  }
  .#{$class}-button {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    padding: 9px 20px;
  }
  .#{$class}-language-guess {
    margin: 20px 0;
  }
  .#{$class}-sort-wrap {
    margin-bottom: 26px;
  }
  .#{$class}-sort-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #B0B0B0;
    text-decoration: none;

    &[data-active="true"] {
      color: #808080;
    }
  }
  .#{$class}-table {
    margin: -5px -10px;

    td {
      vertical-align: top;
      padding: 5px 10px;
    }
  }
  .#{$class}-table-operator,
  .#{$class}-table-synonim {
    text-align: center;
  }
  @media all and (max-width: 900px) {
    .search-suggest {
      min-width: 100%;
      width: 100%;
    }
  }
}