@media (max-width: 1024px) {
    body h1:not([class]) {
        font-size: 28px;
    }

    .service-order .service-order__banner .service-order__banner-price-wrapper {
        margin-bottom: 10px;
    }

    .service-order {

        .service-order__banner {
            padding: 30px;

            background-position: 0, 358px 0, center;
            background-size: 358px 100%, 256px 100%, cover;

            .service-order__banner-title {
                font-size: 28px;
                line-height: 34px;
            }

            .service-order__banner-content {
                max-width: 467px;
            }

            .service-order__banner-description {
                margin-bottom: 15px;
            }

            .service-order__banner-economy {
                margin-bottom: 10px;
            }
        }

        .service-order__detail .service-order__detail-params {
            width: 321px;
            padding: 20px;
        }
    }

    .service-order .service-detail-item__content-hidden-counter {
        margin-right: 15px;
    }

    .service-order .service-order__banner .service-order__banner-buttons-add {
        margin-right: 15px;
    }
}

@media (max-width: 768px) {
    .service-order {

        .service-order__detail {
            flex-direction: column;
            margin-bottom: 20px;

            .service-order__detail-description-text {
                font-size: 13px;
            }

            .service-order__detail-params {
                width: 100%;
                margin-left: 0;
            }

            .service-order__detail-params-title {
                width: 50%;
            }

            .service-order__detail-params-item + .service-order__detail-params-item {
                margin-top: 10px;
            }

        }

        .service-order__banner {
            padding: 20px;

            background-position: 0, 436px 0, center;
            background-size: 436px 100%, 182px 100%, cover;

            .service-order__banner-amount {
                margin-right: 10px;
                font-size: 24px;
                line-height: 29px;
            }
        }
    }

    .service-order__detail-params-item {
        display: flex;
    }

    .service-order__detail-description {
        margin-bottom: 5px;
    }

}

@media (max-width: 600px) {
    body h1:not([class]) {
        padding-bottom: 20px;
        font-size: 24px;
    }

    .service-order {

        .service-order__banner {
            padding: 0;
            background: none;

            .service-order__banner-content {
                max-width: none;
            }

            .service-order__banner-content-mobile-banner {
                display: block;
                width: 100%;
                height: 80px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }

    }

    .service-order .service-order__detail .service-order__detail-description-title {
        font-size: 17px;
    }

    .service-order .service-order__banner .service-order__banner-title {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 29px;
    }

    .service-order__banner-content-padding-mobile {
        padding: 10px;
    }

    .service-order .service-order__detail .service-order__detail-params {
        padding: 10px;
    }
}

@media (max-width: 470px) {

    .service-order__banner-buttons-add {
        padding: 0 10px;
    }

    .product-detail-info-block-basket {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .service-order__banner-buttons-add-wrapper{
        flex-grow: 1;
    }

    .service-order {

        .service-order__banner .service-order__banner-buttons-add {
            flex-grow: 1;
            width: 100%;
            min-width: 0;
            margin-right: 10px;
        }

        .service-order__banner .service-order__banner-buttons-byu-in-click {
            min-width: 0;
            border-color: transparent !important;

            &:hover {
                border-color: transparent !important;
            }

            span {
                display: none;
            }

            .service-order__banner-buttons-byu-in-click-icon {
                display: block;
            }
        }

        .service-order__banner {
            margin-bottom: 20px;
        }

        .service-order__banner .service-order__banner-title {
            margin-bottom: 5px;
        }

        .service-order__banner .service-order__banner-description {
            margin-bottom: 10px;
            font-size: 12px;
        }

        .service-order__banner .service-order__banner-amount {
            font-size: 20px;
            line-height: 26px;
        }

        .service-order__banner .service-order__banner-discount {
            font-size: 14px;
            line-height: 21px;
        }

        .service-order__detail .service-order__detail-description-title {
            margin-bottom: 10px;
        }

        .service-order__detail-description-show-more {
            display: block;
            margin-top: 10px;
            margin-bottom: 20px;
            color: var(--main-color);
            cursor: pointer;
        }
    }

    .service-order__banner-buttons {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 102;
        display: flex;
        width: 100%;
        padding: 0 15px 10px;
        background-color: #ffffff;
        box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
    }

    .service-order .service-order__detail .service-order__detail-params-title {
        width: 100%;
        margin-bottom: 0;
    }

    .service-order .service-order__detail .service-order__detail-params-item + .service-order__detail-params-item {
        margin-top: 15px;
    }

}

@media (max-width: 430px) {
    .service-order__detail-params-item {
        display: block;
    }
}
