@font-face {
  font-family: 'share';
  src:  url('/local/templates/sotbit_origami/assets/fonts/share/share.eot');
  src:  url('/local/templates/sotbit_origami/assets/fonts/share/share.eot') format('embedded-opentype'),
    url('/local/templates/sotbit_origami/assets/fonts/share/share.ttf') format('truetype'),
    url('/local/templates/sotbit_origami/assets/fonts/share/share.woff') format('woff'),
    url('/local/templates/sotbit_origami/assets/fonts/share/share.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="share-"], [class*=" share-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'share' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.share-fb:before {
  content: "\e900";
}
.share-ok:before {
  content: "\e901";
}
.share-telega:before {
  content: "\e902";
}
.share-vk:before {
  content: "\e903";
}