.popup-subscribe__wrapper {

    .subscribe-popup__button {
        display: flex;
        align-items: center;
        width: 280px;
        height: 60px;
        margin-top: 20px;
        padding: 10px;
        border-radius: 40px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

        .subscribe-popup__button-icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #ffffff;

            & > img {
                width: 40px;
                height: 40px;
            }
        }

        .subscribe-popup__button-description {
            font-size: 17px;
            font-weight: 600;
            color: #ffffff;
            margin-left: 20px;
        }

        &.vk {
            background-color: #3D769C;

            svg {
                fill: #3D769C;
            }

        }

        &.telega {
            background-color: #00ACF5;

            svg {
                fill: #00ACF5;
            }
        }

        &.fb {
            background-color: #23599B;

            svg {
                fill: #23599B;
            }
        }

        &.ok {
            background-color: #EB6B0E;

            svg {
                fill: #EB6B0E;
            }
        }

        &.mailru {
            background-color: #005FF9;
        }

        &.twitter {
            background-color: #1DA1F2;
        }

        &.viber {
            background-color: #675DAC;
        }

        &.whatsapp {
            background-color: #2CB642;
        }
    }

    .vk {
        svg {
            width: 20px;
            height: 11px;
        }

    }

    .telega {
        svg {
            width: 19px;
            height: 15px;
        }
    }

    .fb {
        svg {
            width: 8px;
            height: 19px;
        }
    }

    .ok {
        svg {
            width: 19px;
            height: 21px;
        }
    }
}

@media (max-width: 580px) {

    .popup-subscribe__wrapper {

        .subscribe-popup__button {
            position: relative;
            width: 220px;
            height: 40px;
            margin-top: 15px;

            .subscribe-popup__button-icon-wrapper {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 30px;
                height: 30px;

                & > img {
                    width: 30px;
                    height: 30px;
                }
            }

            .subscribe-popup__button-description {
                width: 100%;
                margin: 0;
                padding: 0 40px;
                font-size: 14px;
                text-align: center;
            }
        }

    }
}
