.description-params__name {
    font-size: 12px;
    line-height: 18px;
    color: #808080;
}

.description-params__value {
    margin-left: 4px;
    font-size: 12px;
    line-height: 18px;
}


.description-params {
    margin-top: 4px;
    padding-bottom: 0;
}
