$component: 'gallery';
$template: 'template-2';

.widget.c-#{$component}.c-#{$component}-#{$template} {
  .widget-items {}

  .widget-item {
    position: relative;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .widget-item-wrapper {
    overflow: hidden;
    cursor: pointer;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .widget-item-picture {
    display: block;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding-top: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    -webkit-transition: transform 350ms;
    -moz-transition: transform 350ms;
    -ms-transition: transform 350ms;
    -o-transition: transform 350ms;
    transition: transform 350ms;

    img {
      display: none;
    }
  }

  .widget-footer {}

  .widget-footer-button {
    color: #2d2d2d !important;

    &:hover,
    &:focus,
    &:active {
      color: #fff !important;
    }
  }

  .widget-item:hover {
    .widget-item-picture {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}