.advantage_variant_one .block_main_advantage_variant__item_link {
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .advantage_variant_one .block_main_advantage_variant__item_link svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .advantage_variant_one .block_main_advantage_variant__item_link .block_main_advantage_variant__comment {
    color: #000; }
  .advantage_variant_one .block_main_advantage_variant__item_link:hover svg {
    fill: var(--main-color); }
  .advantage_variant_one .block_main_advantage_variant__item_link:hover {
    color: var(--main-color); }

.advantage_variant_one .block_main_advantage_variant_one {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.advantage_variant_one .block_main_advantage_variant__item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.advantage_variant_one .block_main_advantage_variant__content {
  padding-left: 1rem; }

.advantage_variant_one .block_main_advantage_variant__icons img {
  width: 4.2rem; }

.advantage_variant_one .block_main_advantage_variant__comment {
  padding-bottom: 0; }

.advantage_variant_one .fonts__small_weight_title {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Open Sans", Arial, sans-serif, Arial, sans-serif; }

@media (max-width: 1400px) {
  .block_main_advantage_variant__item {
    padding: 0 1rem 0 0; } }

@media (max-width: 1200px) and (min-width: 992px) {
  .block_main_advantage_variant__comment {
    font-size: 0.85rem; } }

@media (max-width: 992px) {
  .block_main_advantage_variant,
  .block_main_advantage__one {
    width: 50%;
    margin-bottom: 1.5rem;
    padding-left: 0; }
  .block_main_advantage__one:last-child,
  .block_main_advantage_variant:last-child {
    margin-bottom: 0; }
  .block_main_advantage_variant_one,
  .block_main_advantage {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 768px) {
  .block_main_advantage {
    padding: 0 15px; }
  .block_main_advantage_variant_one {
    padding: 0 10px; }
  .block_main_advantage_icons img {
    width: 60px; }
  .block_main_advantage__one {
    margin-bottom: 30px; } }

@media (max-width: 576px) {
  .block_main_advantage_variant,
  .block_main_advantage__one {
    width: 100%; }
  .block_main_advantage {
    padding: 0 15px; }
  .block_main_advantage_variant_one {
    padding: 0 15px; } }
