.blog_popular_list__title {
    font-weight: bold;
    font-size: 17px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 15px;
}

p.blog_popular_list__title a {
    margin-left: 20px;
    font-size: 12px;
    font-weight: normal;
}

.blog_popular_list__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;
}

.blog_popular_list__item:last-child {
    border-bottom: none;
}

.blog_popular_list__item_date {
    font-size: 13px;
    color: #949393;
    /*margin-bottom: 10px;*/
}

.blog_popular_list__item_title {
    font-size: 13px;
    margin-bottom: 10px;
}

.blog_popular_list {
    margin-bottom: 50px;
}
