$namespace: 'bitrix';
$component: 'catalog-section-list';
$template: 'catalog-tile-5';
$class: #{$component};
$item: #{$class}-item;

$black-header: #1B1E25;
$black-text: #404040;
$gray-text-light: #B0B0B0;
$gray-text-dark: #808080;

@mixin transition($property, $duration) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  .#{$item} {
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid #F7F7F7;
  }
  .#{$item}-wrapper {
    font-size: 0;
    margin: 24px;
  }
  .#{$item}-picture {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    @include border-radius(4px);
  }
  .#{$item}-name {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $black-header;
    text-decoration: none;
    @include transition(color, 0.4s);
  }
  .#{$item}-children {
    margin-top: 13px;
    overflow: hidden;
    @include transition(height, 0.3s);
  }
  .#{$item}-child {
    white-space: nowrap;
  }
  .#{$item}-child-name {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: $black-header;
    text-decoration: none;
    @include transition(color, 0.4s);

    & + div {
      margin-left: 4px;
    }
  }
  .#{$item}-child-count {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: $gray-text-dark;
  }
  .#{$item}-button {
    display: inline-block;
    padding-bottom: 7px;
    margin-top: 16px;
    border-bottom: 1px dashed $gray-text-light;
    white-space: nowrap;
    cursor: pointer;
    @include user-select(none);
    @include transition(border-color, 0.4s);


    & > div {
      display: inline-block;
      vertical-align: middle;

      & + div {
        margin-left: 4px;
      }
    }
  }
  .#{$item}-button-decoration {
    position: relative;
    width: 7px;
    height: 7px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      background-color: $gray-text-dark;
      @include transition(transform, 0.3s);
    }
    &::before {
      top: 3px;
      left: 0;
      right: 0;
      bottom: 3px;
      height: 1px;
    }
    &::after {
      top: 0;
      left: 3px;
      right: 3px;
      bottom: 0;
      width: 1px;
    }
  }
  .#{$item}-button-text,
  .#{$item}-button-count {
    font-size: 12px;
    line-height: 12px;
    color: $gray-text-dark;
  }
  [data-picture-size='cover'] {
    background-size: cover;
  }
  [data-picture-size='contain'] {
    background-size: contain;
  }
  [data-children-view='1'] {
    .#{$item}-child {
      & + .#{$item}-child {
        margin-top: 12px;
      }
    }
  }
  [data-children-view='2'] {
    .#{$item}-children-wrapper {
      margin: -6px -8px;
    }
    .#{$item}-child {
      display: inline-block;
      vertical-align: middle;
      margin: 6px 8px;
    }
  }
  [data-role='children'] {
    [data-role='hidden'] {
      @include transition(opacity, 0.3s);
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
    &[data-expanded='false'] {
      [data-role='hidden'] {
        opacity: 0;
      }
    }
    &[data-expanded='true'] {
      [data-role='hidden'] {
        opacity: 1;
      }
    }
  }
  [data-role='button'] {
    &[data-expanded='true'] {
      .#{$item}-button-decoration {
        &::after {
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
        }
      }
    }
  }
  
  @media all and (max-width: 768px) {
    .#{$item}-wrapper {
      margin: 12px;
    }
  }
  @media all and (max-width: 400px) {
    .#{$item}-wrapper {
      & > div + div {
        margin-top: 12px;
      }
    }
    .#{$item}-picture {
      width: 60px;
      height: 60px;
    }
  }
}