.contact-slider-description {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px; }
  .contact-slider-description .contact-description-text {
    width: 57%;
    margin-right: 30px; }
  .contact-slider-description .show-description-wrapper {
    height: 84px;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .contact-slider-description .collapse_btn {
    display: block; }
  .contact-slider-description .show_btn {
    display: none; }
  .contact-slider-description .show-description-wrapper[data-closed=true]
+ .contacts-description-show_more_btn .collapse_btn {
    display: none; }
  .contact-slider-description .show-description-wrapper[data-closed=true]
+ .contacts-description-show_more_btn .show_btn {
    display: block; }
  .contact-slider-description .text-wrapper {
    text-align: justify;
    font-size: 14px;
    line-height: 21px; }
  .contact-slider-description .contact-description-slider-wrapper {
    width: calc(43% - 30px); }
    .contact-slider-description .contact-description-slider-wrapper .contacts-slider-image-wrapper {
      display: -webkit-box !important;
      display: -moz-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100px;
      width: 100px;
      max-width: 100px;
      max-height: 100px;
      margin: 0 5px;
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;
      overflow: hidden; }
    .contact-slider-description .contact-description-slider-wrapper img {
      max-height: 100%;
      height: 100%;
      width: auto; }
  .contact-slider-description .contacts-description-show_more_btn {
    display: none;
    margin-top: 9px;
    cursor: pointer;
    color: #fb0040; }

div .pswp__bg {
  background: #ffffff; }

.btn-slick-custom {
  cursor: pointer; }

.slick-slider:hover .btn-slick-custom {
  display: block !important; }

@media screen and (max-width: 1050px) {
  .contact-slider-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact-slider-description .contact-description-text {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px; }
    .contact-slider-description .text-wrapper {
      font-size: 13px;
      line-height: 21px; }
    .contact-slider-description .contact-description-slider-wrapper {
      width: 100%; }
      .contact-slider-description .contact-description-slider-wrapper .contacts-slider-image-wrapper {
        display: inline-block;
        height: auto;
        max-width: 150px;
        max-height: 150px;
        margin: 0 5px; } }

@media screen and (max-width: 769px) {
  .slick-slider .btn-slick-custom {
    display: block !important; }
  .contact-slider-description {
    margin-bottom: 20px; }
  .contact-slider-description .contact-description-slider-wrapper .contacts-slider-image-wrapper {
    max-width: 134px;
    max-height: 134px; } }

@media (max-width: 450px) {
  .contact-slider-description .text-wrapper {
    font-size: 12px;
    line-height: 18px; } }

@media (max-width: 400px) {
  .slick-list.draggable {
    margin: 0 -5px; } }
