.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-wrapper {
  height: 100%;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -ms-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-wrapper:hover {
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}
.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-date {
  font-size: 12px;
  line-height: 16px;
  margin-top: 12px;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-tags {
  margin-top: 10px;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-tags-item-wrapper {
  display: block;
  margin: 0;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-tags-item-wrapper input {
  display: none;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-tags-item-wrapper span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  padding: 3px;
  white-space: nowrap;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -ms-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-tags-item-wrapper input:enabled + span {
  cursor: pointer;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-tags-item-wrapper input:disabled + span {
  cursor: default;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-tags-item-wrapper input:checked + span,
.ns-bitrix.c-news-list.c-news-list-tile-1 .news-list-item-tags-item-wrapper input:enabled + span:hover {
  color: #FFF;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=default] .news-list-item-image {
  display: block;
  padding-top: 60%;
  background-size: cover;
  background-repeat: no-repear;
  background-position: center;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=default] .news-list-item-text {
  padding: 20px 25px 25px 25px;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=default] .news-list-item-name a {
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=default] .news-list-item-tags {
  margin-top: 10px;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=default] .news-list-item-description {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-wrapper {
  position: relative;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-text {
  padding: 30px 35px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-name {
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #FFF;
  max-width: 300px;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-date {
  color: #FFF;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-tags-item-wrapper {
  pointer-events: all;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-tags-item-wrapper span {
  color: #FFF;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-grid="4"] [data-view=big] {
  width: 50%;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-grid="3"] [data-view=big] {
  width: 66.6666666667%;
}
.ns-bitrix.c-news-list.c-news-list-tile-1 [data-role=form] {
  display: none;
}
@media all and (max-width: 1024px) {
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-grid="4"] [data-view=big] {
    width: 66.6666666667%;
  }
}
@media all and (max-width: 768px) {
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-grid] [data-view=big] {
    width: 100%;
  }
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=default] .news-list-item-image {
    padding-top: 50%;
  }
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=default] .news-list-item-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=default] .news-list-item-name a {
    font-size: 14px;
    line-height: 21px;
  }
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=default] .news-list-item-date {
    font-size: 11px;
    line-height: 14px;
  }
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=default] .news-list-item-description {
    font-size: 12px;
    line-height: 18px;
  }
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-wrapper {
    padding-top: 50%;
  }
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-name {
    font-size: 14px;
    line-height: 21px;
  }
  .ns-bitrix.c-news-list.c-news-list-tile-1 [data-view=big] .news-list-item-date {
    font-size: 11px;
    line-height: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
