@import "../../../assets/scss/variables";

.header-three__btn-menu {
    padding: 18px;
    margin: 0;
    background: none;
    border: none;
    border-right: 1px solid #4D4D4D;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 2499;

    &.show {
        width: 100%;
    }

    &.show .menu__wrapper {
        transform: translateX(0);
    }
}

.menu__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu__wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #F7F7F7;
    z-index: 5000000;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

}

.menu__header {
    display: flex;
    flex-shrink: 0;
    height: 60px;
}

.menu__header-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 60px;
    border: none;
    background-color: var(--main-color);
    transition: background-color 0.2s ease-out;
    cursor: pointer;

    &:hover {
        background-color: var(--main-color-hover);
    }
}

.menu__header-btn-icon {
    stroke: #fff;
}

.menu__header-logo-wrapper {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
}

.menu__header-logo {
    width: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.menu__contact {
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 1px solid #E6E6E6;
}

.menu-contact__call-back {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.section__item,
.menu-nav__item {
    padding: 0;
    margin-bottom: 0;
}


.section__item-main {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 44px;
    padding: 10px 40px 10px 20px;

    &:hover {
        background-color: var(--main-color);

        .section__item-title {
            color: #fff;
        }

        .section__item-logo-icon {
            stroke: #fff;
        }

        .section__item-arow-icon {
            stroke: #fff;
        }
    }

    &.current {
        .section__item-logo-icon {
            stroke: none;
            fill: var(--main-color)
        }

        .section__item-title {
            color: var(--main-color);
        }

        .section__item-arow-icon {
            stroke: var(--main-color);
        }

        &:hover {
            background-color: var(--main-color);

            .section__item-title {
                color: #fff;
            }

            .section__item-logo-icon {
                stroke: #fff;
            }

            .section__item-arow-icon {
                stroke: #fff;
            }
        }
    }

    &.open {
        background-color: #EDEDED;

        & .section__item-arow-icon {
            transform: scaleY(-1);
        }

        &:hover {
            background-color: var(--main-color);
        }
    }
}

.menu-nav__item-link {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 44px;
    padding: 10px 40px 10px 20px;

    &:hover {
        background-color: var(--main-color);

        .menu-nav__item-title {
            color: #fff;
        }

        .section__item-logo-icon {
            stroke: #fff;
        }
    }

    &.current {
        .section__item-logo-icon {
            stroke: none;
            fill: var(--main-color)
        }

        .menu-nav__item-title {
            color: var(--main-color);
        }

        &:hover {
            background-color: var(--main-color);

            .menu-nav__item-title {
                color: #fff;
            }

            .section__item-logo-icon {
                stroke: #fff;
            }
        }
    }
}

.section__item-arow-icon {
    position: absolute;
    right: 18px;
    top: calc(50% - 2px);
    fill: none;
    stroke: #BDBDBD;
}

.section__item-title,
.menu-nav__item-title {
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    color: #4D4D4D;
}
.section__item-submenu-item {
    padding: 0;
    margin-bottom: 0;
}

.section__item-submenu-item-link {
    display: flex;
    min-height: 44px;
    padding: 10px 40px 10px 20px;
    margin: 0;

    &.current {
        color: var(--main-color);
    }

    &:hover {
        color: var(--main-color);
    }
}

.section__item-logo-icon {
    display: block;
    margin-right: 20px;
    fill: none;
    stroke: #BDBDBD;
}

.menu-nav__item-logo-icon {
    display: block;
    margin-right: 20px;
    fill: #BDBDBD;
}

.menu-nav__item-link {
    display: flex;
}

.section__item-submenu {
    padding-left: 44px;
    background-color: #F2F2F2;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.menu__sectionts {
    flex-shrink: 0;
    border-bottom: 1px solid #E6E6E6;
}

.menu__nav {
    flex-shrink: 0;
}

.menu__contact {
    flex-shrink: 0;
    margin-top: auto;
}

.menu-nav__item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 20px;
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    border-radius: 10px;
    background-color: #BDBDBD;

    &.active {
        background-color:  var(--main-color);
    }
}
