.widget.c-advantages.c-advantages-template-27 .widget-tabs {
  font-size: 0;
  text-align: center;
  margin: -10px;
}
.widget.c-advantages.c-advantages-template-27 .widget-tabs-item {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  color: #d8d8d8;
  padding: 15px 50px;
  margin: 10px;
  border: 2px solid #d8d8d8;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: border-color, color, opacity;
  -moz-transition-property: border-color, color, opacity;
  -ms-transition-property: border-color, color, opacity;
  -o-transition-property: border-color, color, opacity;
  transition-property: border-color, color, opacity;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.widget.c-advantages.c-advantages-template-27 .widget-tabs-item:hover, .widget.c-advantages.c-advantages-template-27 .widget-tabs-item[data-active=true] {
  color: #444;
}
.widget.c-advantages.c-advantages-template-27 .widget-tabs-content {
  margin-top: 50px;
}
.widget.c-advantages.c-advantages-template-27 .widget-tabs-content-item {
  font-size: 0;
  text-align: center;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.widget.c-advantages.c-advantages-template-27 .widget-tabs-content-item[data-active=true] {
  opacity: 1;
}
.widget.c-advantages.c-advantages-template-27 .widget-tabs-content-item[data-active=false] {
  opacity: 0;
}
.widget.c-advantages.c-advantages-template-27 .widget-tabs-content-item > img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.widget.c-advantages.c-advantages-template-27[data-in-block=false][data-theme=black] {
  background-color: #17171d;
  padding-top: 80px;
  padding-bottom: 80px;
}
.widget.c-advantages.c-advantages-template-27[data-theme=black] .widget-title,
.widget.c-advantages.c-advantages-template-27[data-theme=black] .widget-description,
.widget.c-advantages.c-advantages-template-27[data-theme=black] .widget-tabs-item:hover,
.widget.c-advantages.c-advantages-template-27[data-theme=black] .widget-tabs-item[data-active=true] {
  color: #FFF;
}
.widget.c-advantages.c-advantages-template-27[data-theme=black] .widget-tabs-item {
  opacity: 0.4;
}
.widget.c-advantages.c-advantages-template-27[data-theme=black] .widget-tabs-item:hover, .widget.c-advantages.c-advantages-template-27[data-theme=black] .widget-tabs-item[data-active=true] {
  opacity: 1;
}
@media all and (max-width: 768px) {
  .widget.c-advantages.c-advantages-template-27 .widget-tabs-item {
    font-size: 14px;
    line-height: 14px;
    padding: 10px 30px;
  }
}
@media all and (max-width: 500px) {
  .widget.c-advantages.c-advantages-template-27 .widget-tabs-content {
    margin-top: 25px;
  }
  .widget.c-advantages.c-advantages-template-27 .widget-tabs-item {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
