.widget.c-reviews.c-reviews-template-4 .widget-item {
  margin-bottom: 40px;
}
.widget.c-reviews.c-reviews-template-4 .widget-item:last-child {
  margin-bottom: 0;
}
.widget.c-reviews.c-reviews-template-4 .widget-item-person {
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-right: -70px;
  overflow: hidden;
  z-index: 2;
}
.widget.c-reviews.c-reviews-template-4 .widget-item-person-wrapper {
  position: relative;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}
.widget.c-reviews.c-reviews-template-4 .widget-item-picture {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.widget.c-reviews.c-reviews-template-4 .widget-item-name {
  display: block;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.widget.c-reviews.c-reviews-template-4 .widget-item-position {
  font-size: 10px;
  line-height: 15px;
  color: #6a6a6a;
}
.widget.c-reviews.c-reviews-template-4 .widget-item-description {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  padding: 45px 60px 40px 120px;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  z-index: 1;
  background: #fff;
}
.widget.c-reviews.c-reviews-template-4 .widget-item-line-top,
.widget.c-reviews.c-reviews-template-4 .widget-item-line-bottom {
  position: absolute;
  left: 50%;
  width: 0;
  border-left: 1px solid #e8e8e8;
}
.widget.c-reviews.c-reviews-template-4 .widget-item-line-top {
  top: -50px;
  bottom: calc(100% + 10px);
}
.widget.c-reviews.c-reviews-template-4 .widget-item-line-bottom {
  top: calc(100% + 10px);
  bottom: -1000px;
}
.widget.c-reviews.c-reviews-template-4 .widget-footer-button {
  color: #2d2d2d !important;
}
.widget.c-reviews.c-reviews-template-4 .widget-footer-button:hover, .widget.c-reviews.c-reviews-template-4 .widget-footer-button:focus, .widget.c-reviews.c-reviews-template-4 .widget-footer-button:active {
  color: #fff !important;
}
@media all and (max-width: 768px) {
  .widget.c-reviews.c-reviews-template-4 .widget-item-person {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-bottom: -30px;
  }
  .widget.c-reviews.c-reviews-template-4 .widget-item-description {
    text-align: center;
    padding: 50px 30px 30px 30px;
    border-top: none;
    border-left: 1px solid #e8e8e8;
  }
  .widget.c-reviews.c-reviews-template-4 .widget-item-line-top,
.widget.c-reviews.c-reviews-template-4 .widget-item-line-bottom {
    top: auto;
    bottom: 30px;
    width: auto;
    border-left: none;
    border-top: 1px solid #e8e8e8;
  }
  .widget.c-reviews.c-reviews-template-4 .widget-item-line-top {
    left: -500px;
    right: calc(100% + 20px);
  }
  .widget.c-reviews.c-reviews-template-4 .widget-item-line-bottom {
    left: calc(100% + 20px);
    right: -500px;
  }
}
@media all and (max-width: 500px) {
  .widget.c-reviews.c-reviews-template-4 .widget-item-description {
    font-size: 14px;
    line-height: 21px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
