body h1:not([class]) {
  padding-bottom: 30px;
  font-size: 31px; }

body .block_main_left_menu.right .block_main_left_menu__content.active {
  padding-right: 2rem; }

body .block_main_left_menu__container.mo-main {
  display: block; }

.stocks-tags__tag {
  background-color: #ededed; }

.stocks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  .stocks .stocks__content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px; }
  .stocks .item-container {
    display: inline-block;
    width: calc(50% - 30px);
    height: 365px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: #F7F7F7;
    border-radius: 6px;
    overflow: hidden;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
    .stocks .item-container:hover {
      background-color: #ffffff; }
    .stocks .item-container .item-container__image-wrapper {
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      height: 200px;
      overflow: hidden;
      cursor: pointer; }
      .stocks .item-container .item-container__image-wrapper:hover + .item-container__text-wrapper .item-container__title {
        color: var(--main-color); }
    .stocks .item-container .item-container__time-period {
      position: absolute;
      left: 0;
      bottom: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 30px;
      padding: 0 20px;
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.6); }
      .stocks .item-container .item-container__time-period span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .stocks .item-container .item-container__image {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .stocks .item-container .item-container__text-wrapper {
      height: calc(100% - 200px);
      padding: 20px;
      overflow: hidden;
      border-left: 1px solid #ededed;
      border-right: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      border-radius: 0 0 6px 6px; }
    .stocks .item-container .item-container__overflow-hider {
      height: 100%;
      overflow: hidden; }
    .stocks .item-container .item-container__title {
      display: block;
      max-height: 50px;
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;
      overflow: hidden;
      margin-bottom: 10px;
      cursor: pointer; }
    .stocks .item-container .item-container__description {
      max-height: 84px;
      font-size: 14px;
      line-height: 21px;
      color: #808080;
      overflow: hidden; }

@media (max-width: 1024px) {
  body h1:not([class]) {
    font-size: 28px; }
  .stocks .item-container .item-container__text-wrapper {
    padding-bottom: 18px; }
  .stocks .item-container {
    height: 340px; }
    .stocks .item-container .item-container__image-wrapper {
      height: 200px; }
    .stocks .item-container .item-container__text-wrapper {
      height: calc(100% - 200px); } }

@media (max-width: 990px) {
  body .block_main_left_menu.right .block_main_left_menu__content.active {
    padding-right: 0; }
  body .puzzle_block.block_main_left_menu.main-container.left {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  body .puzzle_block.block_main_left_menu.main-container.right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  body .block_main_left_menu__container {
    width: 100%; }
  .stocks__sidebar-item:not(.subscribe) {
    display: none; }
  .detail_blog__banner {
    display: none; }
  .stocks__sidebar-item.subscribe {
    padding: 20px;
    background: #F7F7F7;
    border: 1px solid #EDEDED; }
  .stocks__sidebar-item .subscribe__mobile-input {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .stocks__sidebar-item .subscribe__mobile-input .stocks__sidebar-item-title {
      margin-bottom: 0;
      margin-right: 20px;
      font-size: 14px;
      line-height: 21px; }
  .stocks__sidebar-item .stocks-subscribe .email-subscribe {
    width: 65%; } }

@media (max-width: 768px) {
  body h1:not([class]) {
    padding-bottom: 20px; }
  .stocks .stocks__content {
    margin-right: -20px; }
  .stocks .item-container .item-container__time-period {
    font-size: 14px; }
  .stocks .item-container {
    width: calc(50% - 20px);
    height: 332px;
    margin-right: 20px; }
    .stocks .item-container .item-container__image-wrapper {
      height: 200px; }
    .stocks .item-container .item-container__text-wrapper {
      height: calc(100% - 200px); }
    .stocks .item-container .item-container__title {
      max-height: 42px;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px; }
    .stocks .item-container .item-container__description {
      font-size: 13px;
      line-height: 20px; } }

@media (max-width: 520px) {
  body h1:not([class]) {
    font-size: 24px; }
  .stocks__sidebar-item .subscribe__mobile-input {
    display: block; }
  .stocks__sidebar-item .subscribe__mobile-input .stocks__sidebar-item-title {
    margin-bottom: 10px;
    margin-right: 0; }
  .stocks__sidebar-item .stocks-subscribe .email-subscribe {
    width: 100%; }
  .stocks .item-container {
    width: 100%;
    height: 286px;
    margin-right: 0;
    margin-bottom: 10px; }
    .stocks .item-container .item-container__time-period {
      font-size: 12px; }
    .stocks .item-container .item-container__image-wrapper {
      height: 140px; }
    .stocks .item-container .item-container__text-wrapper {
      height: calc(100% - 140px);
      padding: 20px 15px; }
    .stocks .item-container .item-container__title {
      max-height: 40px;
      font-size: 13px;
      line-height: 20px; }
    .stocks .item-container .item-container__description {
      font-size: 12px;
      line-height: 18px; }
  .stocks .stocks__content {
    margin-right: 0; } }
