.advantage {
  margin-left: auto;
  margin-right: auto; }
  .advantage .block_main_advantage_item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .advantage .block_main_advantage_icons {
    margin-right: 1rem; }
  .advantage .block_main_advantage_icons img {
    width: 4.2rem; }
  .advantage .block_main_advantage_item_link {
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .advantage .block_main_advantage_item_link .block_main_advantage_icons svg {
      fill: #000;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .advantage .block_main_advantage_item_link:hover {
      color: var(--main-color);
      cursor: pointer; }
    .advantage .block_main_advantage_item_link:hover .block_main_advantage_icons svg {
      fill: var(--main-color); }
  .advantage .block_main_advantage {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .advantage .block_main_advantage_variant__item_link {
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .advantage .block_main_advantage_variant__item_link svg {
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .advantage .block_main_advantage_variant__item_link .block_main_advantage_variant__comment {
      color: #000; }
    .advantage .block_main_advantage_variant__item_link:hover {
      color: var(--main-color); }
      .advantage .block_main_advantage_variant__item_link:hover svg {
        fill: var(--main-color); }
  .advantage .block_main_advantage_variant_one {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto; }
  .advantage .block_main_advantage_variant {
    width: 25%;
    padding-left: 1rem; }
    .advantage .block_main_advantage_variant:first-child {
      padding-left: 0; }
  .advantage .fonts__small_weight_title {
    font-weight: 700;
    font-size: 1.2rem; }
  .advantage .block_main_advantage_variant__item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .advantage .block_main_advantage_variant__content {
    padding-left: 1rem; }
  .advantage .block_main_advantage_variant__icons img {
    width: 4.2rem; }
  .advantage .block_main_advantage_variant__comment {
    padding-bottom: 0; }
  .advantage .block_main_advantage_variant__title.main_color {
    color: var(--main-color); }

@media (max-width: 1400px) {
  .advantage .block_main_advantage {
    padding: 0 15px; }
  .advantage .block_main_advantage__one {
    padding: 0 1rem 0 0; } }

@media (max-width: 992px) {
  .advantage .block_main_advantage__one {
    width: 50%;
    margin-bottom: 1.5rem;
    padding-left: 0; }
  .advantage .block_main_advantage__one:last-child {
    margin-bottom: 0; }
  .advantage .block_main_advantage {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 768px) {
  .advantage .block_main_advantage {
    padding: 0 15px; }
  .advantage .block_main_advantage_icons img {
    width: 60px; }
  .advantage .block_main_advantage__one {
    margin-bottom: 30px; } }

@media (max-width: 576px) {
  .advantage .block_main_advantage__one {
    width: 100%; }
  .advantage .block_main_advantage {
    padding: 0 15px; } }
