$class: 'intec-ui' !default;
$sizes: 5 !default;

&-numeric {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 4px;

  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .#{$class}-part-input,
  .#{$class}-part-increment,
  .#{$class}-part-decrement {
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    width: auto;
    max-width: none;
    padding: 2px 6px;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .#{$class}-part-input {
    color: #3f3f3f;
    text-align: center;
    width: 40px;
  }

  .#{$class}-part-increment,
  .#{$class}-part-decrement {
    cursor: pointer;
    text-decoration: none;
    color: #5f5f5f;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: color 350ms;
    -moz-transition: color 350ms;
    -ms-transition: color 350ms;
    -o-transition: color 350ms;
    transition: color 350ms;

    &:hover {
      color: #3f3f3f !important;
    }
  }

  // Schemes

  @each $scheme-name, $scheme-values in $schemes {
    &.#{$class}-scheme-#{$scheme-name} {
      .#{$class}-part-increment,
      .#{$class}-part-decrement {
        &:hover {
          color: map-get(map-get($scheme-values, 'default'), 'background') !important;
        }
      }
    }
  }

  // Sizes

  @for $size from 1 through $sizes {
    &.#{$class}-size-#{$size} {
      .#{$class}-part-input,
      .#{$class}-part-increment,
      .#{$class}-part-decrement {
        padding: #{2 + (2 * $size) - (sizes-font-additional($size) / 2)}px #{6 + (2 * $size)}px;
      }

      .#{$class}-part-input {
        width: #{40 + (4 * $size)}px;
      }
    }
  }

  // Views

  &.#{$class}-view-1 {
    padding: 0;

    .#{$class}-part-input,
    .#{$class}-part-increment,
    .#{$class}-part-decrement {
      color: #848484;
      font-weight: bold;
    }

    .#{$class}-part-input {
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
      padding: 6px 3px;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .#{$class}-part-increment,
    .#{$class}-part-decrement {
      padding: 6px 12px;
    }

    @for $size from 1 through $sizes {
      &.#{$class}-size-#{$size} {
        .#{$class}-part-input {
          padding: #{6 + (2 * $size) - (sizes-font-additional($size) / 2)}px 3px;
        }

        .#{$class}-part-increment,
        .#{$class}-part-decrement {
          padding: #{6 + (2 * $size) - (sizes-font-additional($size) / 2)}px #{12 + (2 * $size)}px;
        }
      }
    }
  }

  &.#{$class}-view-2 {
    padding: 0;

    .#{$class}-part-input {
      color: #272727;
      font-weight: 500;
      width: 32px;
      padding: 6px 3px;
      background-color: #fbfbfb;

      -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);

      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    .#{$class}-part-increment,
    .#{$class}-part-decrement {
      font-size: #{sizes-font-size(16, 0)}px;
      line-height: sizes-line-height(16, 24, 0);
      color: #848484;
      padding: 4px 16px;

      -webkit-transition: color 350ms;
      -moz-transition: color 350ms;
      -ms-transition: color 350ms;
      -o-transition: color 350ms;
      transition: color 350ms;

      &:hover {
        color: #3f3f3f;
      }
    }

    @for $size from 1 through $sizes {
      &.#{$class}-size-#{$size} {
        .#{$class}-part-input {
          padding: #{6 + (2 * $size) - (sizes-font-additional($size) / 2)}px 3px;
          width: #{32 + (4 * $size)}px;
        }

        .#{$class}-part-increment,
        .#{$class}-part-decrement {
          font-size: #{sizes-font-size(16, $size)}px;
          line-height: sizes-line-height(16, 24, $size);
          padding: #{4 + (2 * $size) - (sizes-font-additional($size) / 2)}px #{16 + (2 * $size)}px;
        }
      }
    }
  }

  &.#{$class}-view-3 {
    padding: 0;

    .#{$class}-part-input {
      color: #272727;
      font-weight: bold;
      width: 28px;
      padding: 4px 4px;
      border: 1px solid #e8e8e8;
      background-color: #f6f6f6;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    .#{$class}-part-increment,
    .#{$class}-part-decrement {
      font-size: #{sizes-font-size(16, 0)}px;
      line-height: sizes-line-height(16, 24, 0);
      font-weight: bold;
      color: #848484;
      padding: 4px 16px;

      -webkit-transition: color 350ms;
      -moz-transition: color 350ms;
      -ms-transition: color 350ms;
      -o-transition: color 350ms;
      transition: color 350ms;

      &:hover {
        color: #3f3f3f;
      }
    }

    @for $size from 1 through $sizes {
      &.#{$class}-size-#{$size} {
        .#{$class}-part-input {
          padding: #{4 + (2 * $size) - (sizes-font-additional($size) / 2)}px 4px;
          width: #{28 + (4 * $size)}px;
        }

        .#{$class}-part-increment,
        .#{$class}-part-decrement {
          font-size: #{sizes-font-size(16, $size)}px;
          line-height: sizes-line-height(16, 24, $size);
          padding: #{4 + (2 * $size) - (sizes-font-additional($size) / 2)}px #{16 + (2 * $size)}px;
        }
      }
    }
  }

  &.#{$class}-view-4 {
    .#{$class}-part-input,
    .#{$class}-part-increment,
    .#{$class}-part-decrement {
      font-weight: normal;
      color: #444444;
    }

    .#{$class}-part-increment,
    .#{$class}-part-decrement {
      padding-left: 5px;
      padding-right: 5px;

      -webkit-transition: color 350ms;
      -moz-transition: color 350ms;
      -ms-transition: color 350ms;
      -o-transition: color 350ms;
      transition: color 350ms;

      &:hover {
        color: #3f3f3f;
      }
    }
  }

  &.#{$class}-view-5 {
    padding: 0;

    .#{$class}-part-input,
    .#{$class}-part-increment,
    .#{$class}-part-decrement {
      color: #3f3f3f;
    }

    .#{$class}-part-input {
      padding: 2px 3px;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .#{$class}-part-increment,
    .#{$class}-part-decrement {
      padding: 6px 13px;
      border-radius: 6px;
      background: #F7F7F7;
    }

    @for $size from 1 through $sizes {
      &.#{$class}-size-#{$size} {
        .#{$class}-part-input {
          padding: #{6 + (2 * $size) - (sizes-font-additional($size) / 2)}px 3px;
        }

        .#{$class}-part-increment,
        .#{$class}-part-decrement {
          padding: #{6 + (2 * $size) - (sizes-font-additional($size) / 2)}px #{13 + (2 * $size)}px;
        }
      }
    }
  }

  &.#{$class}-view-6 {
    padding: 0;
    border: 1px solid #F2F2F2;

    .#{$class}-part-input,
    .#{$class}-part-increment,
    .#{$class}-part-decrement {
      color: #808080;
    }

    .#{$class}-part-input {
      padding: 2px 3px;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .#{$class}-part-increment,
    .#{$class}-part-decrement {
      padding: 6px 13px;
      background: #FBFCFD;
    }

    @for $size from 1 through $sizes {
      &.#{$class}-size-#{$size} {
        .#{$class}-part-input {
          padding: #{6 + (2 * $size) - (sizes-font-additional($size) / 2)}px 3px;
        }

        .#{$class}-part-increment,
        .#{$class}-part-decrement {
          padding: #{6 + (2 * $size) - (sizes-font-additional($size) / 2)}px #{13 + (2 * $size)}px;
        }
      }
    }
  }
}