.widget.c-gallery.c-gallery-template-3 .widget-tabs + .widget-tabs-content {
  margin-top: 30px;
}
.widget.c-gallery.c-gallery-template-3 .widget-items-wrap {
  position: relative;
}
.widget.c-gallery.c-gallery-template-3 .widget-item-wrapper {
  cursor: pointer;
  overflow: hidden;
}
.widget.c-gallery.c-gallery-template-3 .widget-item-picture {
  padding-top: 55%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -ms-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.widget.c-gallery.c-gallery-template-3 .widget-item-picture img {
  display: none;
}
.widget.c-gallery.c-gallery-template-3 .widget-item-wrapper:hover .widget-item-picture {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.widget.c-gallery.c-gallery-template-3 .widget-panel {
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-size: 0;
}
.widget.c-gallery.c-gallery-template-3 .widget-panel-item {
  width: 69px;
  height: 69px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  line-height: 69px;
  text-align: center;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.widget.c-gallery.c-gallery-template-3 .widget-panel-item:hover {
  background: #fff;
}
.widget.c-gallery.c-gallery-template-3 .widget-panel-item-current {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #888888;
  transform: rotate(-90deg);
  display: inline-block;
  text-align: center;
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 10px;
  left: -22px;
}
@media all and (max-width: 1260px) {
  .widget.c-gallery.c-gallery-template-3 .widget-items-wrap {
    padding-bottom: 24px;
  }
  .widget.c-gallery.c-gallery-template-3 .widget-panel {
    left: 0;
    bottom: 24px;
  }
  .widget.c-gallery.c-gallery-template-3 .widget-panel-item-current {
    position: absolute;
    bottom: -30px;
    left: 0;
    transform: rotate(0deg);
  }
}
@media all and (max-width: 768px) {
  .widget.c-gallery.c-gallery-template-3 .widget-panel-item {
    width: 50px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
  }
}
@media all and (max-width: 425px) {
  .widget.c-gallery.c-gallery-template-3 .widget-panel-item {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
  }
}
.widget.c-gallery.c-gallery-template-3 .widget-footer-button {
  color: #2d2d2d !important;
}
.widget.c-gallery.c-gallery-template-3 .widget-footer-button:hover, .widget.c-gallery.c-gallery-template-3 .widget-footer-button:focus, .widget.c-gallery.c-gallery-template-3 .widget-footer-button:active {
  color: #fff !important;
}

/*# sourceMappingURL=style.css.map */
