@import "../../../../../../../../kit_origami/assets/scss/variables.scss";

.block_main_left_menu__content {
    width: 100%;
}

.catalog-main_page {

    .row {
        display: flex;
        justify-content: space-between;

        .catalog-section_item {
            width: calc(50% - 30px);
            margin: 15px;
            border: 1px solid #EDEDED;
            display: flex;
            flex-direction: column;
            transition: all 0.2s ease-in-out;
            background-color: #FAFAFA;

            .items_links-mobile {
                display: none;
            }

            .catalog_section-content_wrapper {
                display: flex;
                transition: all 0.2s ease-in-out;
                height: 100%;
                width: 100%;

                .items_links-block {
                    padding: 20px 30px;

                    .catalog-section_item-title_wrapper {
                        display: flex;
                    }

                    .icon-nav_button {
                        align-items: center;
                        width: 15px;
                        min-width: 15px;
                        display: none;
                        height: 25px;
                        transition: all 0.2s ease-in-out;

                        &:before {
                            content: "";
                            display: inline-block;
                            font-size: 7px;
                            -webkit-transform: rotate(45deg) translateY(-3px);
                            -moz-transform: rotate(45deg) translateY(-3px);
                            -ms-transform: rotate(45deg) translateY(-3px);
                            -o-transform: rotate(45deg) translateY(-3px);
                            transform: rotate(45deg) translateY(-3px);
                            color: #000;
                            width: 10px;
                            height: 10px;
                            border-bottom: 2px solid #000;
                            border-right: 2px solid #000;
                            margin-top: 0;
                            position: relative;
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
                }

                .items_links {
                    display: flex;
                    flex-direction: column;
                }
                .catalog-section_item-image {
                    flex: 0 0 20%;
                    padding: 20px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & > img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }


                .catalog-section_item-title {
                    margin-bottom: 15px;
                    font-size: 24px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                }

                .catalog-items_links {
                    color: #808080;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    font-size: 13px;
                    margin-right: 5px;

                    & > b {
                        color: #000;
                        transition: all 0.2s ease-in-out;
                    }

                    &:hover {
                        color: var(--main-color);

                        & > b {
                            color: var(--main-color);
                        }
                    }
                }

            }
        }
    }
}
