.compare-left_sidebar {
    display: flex;
    flex-direction: column;
    width: 295px;
    border-right: 1px solid #EDEDED;

    .compare-menu_panel:first-child {
        border-bottom: 1px solid #EDEDED;
    }

    .compare-property_title-wrapper {
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;
        transition: all 0.3s ease;

        &:hover {
            .compare-property_title-icons {
                opacity: 1;
            }
        }

        .title {
            transition: all 0.4s ease;
        }

        &[data-deleted=true] {
            .title {
                opacity: 0.3;
            }

            .icon_cancel_comparison_small {
                transform: rotate(45deg);
            }
        }
    }

    .compare-property_title {
        border-bottom: 1px solid #EDEDED;
        width: 100%;
        height: 100%;
    }

    .compare-property_title-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;

        p {
            padding: 0;
        }
    }

    .compare-property_title-icons {
        display: flex;
        flex-wrap: nowrap;
        margin-left: 10px;
        opacity: 0;
        transition: all 0.4s ease;

        .show-description {
            position: relative;
        }

        .compare-property_title-description {
            position: absolute;
            width: 640px;
            padding: 20px;
            text-align: justify;
            background-color: #fff;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
            font-size: 13px;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease;
            z-index: 2;
            top: calc(100% + 8px);

            .descripption-title {
                font-weight: 600;
                line-height: 20px;
                width: 100%;
                margin-bottom: 10px;
                display: block;
            }

            .descripption-text {
                text-align: justify;
                font-weight: normal;
                line-height: 20px;

            }
        }

        .icon_question_small {
            fill: #BDBDBD;
            stroke: none;
            margin-right: 10px;
            cursor: pointer;
            transition: all 0.2s ease;
            width: 20px;
            height: 20px;
            display: block;

            &:hover {
                fill: #fb0040;

                & + .compare-property_title-description {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.3s ease;
                }
            }
        }

        .icon_cancel_comparison_small {
            cursor: pointer;
            fill: none;
            stroke: #BDBDBD;
            transition: all 0.2s ease;
            width: 20px;
            height: 20px;

            &:hover {
                stroke: #fb0040;
            }
        }
    }
}

.compare_menu-panel_switch {
    &.all {
        .all_params {
            color: #fb0040;
        }
    }

    &.different {
        .different_params {
            color: #fb0040;
        }
    }
}

.compare-menu_panel {
    width: 100%;
    height: 345px;
    background-color: #FAFAFA;
    padding: 20px;
    position: relative;

    .compare-menu_panel-title {
        font-size: 17px;
        line-height: 25px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 20px;
    }

    .compare_menu-panel_switch {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        height: 50px;
        font-size: 14px;

        .compare-switch {
            transform: rotate(90deg);

            .switch {
                height: 8px;
                width: 34px;
                border-radius: 4px;
                background: none;

                &.switch-on {
                    &::after {
                        left: 22px;
                    }
                }
            }

            .switch::after {
                box-shadow: none;
                background: #fb0040;
                left: -8px;
                top: -5px;
            }

            .switch::before {
                height: 8px;
                width: 34px;
                background: #E6E6E6;
            }

        }

        .menu-panel_switch-block {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            width: 20px;
            cursor: pointer;
        }

        .menu-panel_radio-text_block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;

            & > a {
                display: block;
                cursor: pointer;

                &:hover {
                    color: #fb0040;
                    transition: all 0.4s ease;
                }
            }
        }
    }

    .compare_menu-panel_show-deleted {
        .checkbox__label {
            font-size: 14px;
            padding-left: 30px;
            transition: all 0.3s ease;
            margin-bottom: 0;

            &:before {
                margin: 3px 3px 3px 0;
            }
        }
    }

    .compare_menu-panel_clear {
        position: absolute;
        bottom: 20px;
        color: #fb0040;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 14px;

        &:hover {
            color: #c80033;

            .icon-clear-cart {
                fill: #c80033;
            }
        }

        .icon-clear-cart {
            width: 18px;
            height: 22px;
            margin-right: 10px;
            fill: #fb0040;
            transition: all 0.2s ease;
        }
    }
}

.compare_menu-panel_switch a {
    color: #808080;
}

.compare-properties_block {
    .table_compare_product_close:hover:after,
    .table_compare_product_close:hover:before {
        background-color: #8b8b8b;
    }
}
