$namespace: 'bitrix';
$component: 'catalog-section-list';
$template: 'services-tile-2';
$class: #{$component};

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  display: block;

  .#{$class}-items {}
  .#{$class}-item {}

  .#{$class}-item-wrapper {
    display: block;
    position: relative;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    height: 100%;
  }

  .#{$class}-item-picture {
    display: block;

    a {
      display: block;
      text-decoration: none;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &[data-type="round"] {
      padding: 36px 36px 0 36px;

      a {
        padding-top: 100%;
        border-radius: 50%;
      }
    }

    &[data-type="square"] {
      a {
        padding-top: 70%;
      }

      &[data-indents="true"] {
        padding: 20px 20px 0 20px;

        a {
          padding-top: 100%;
        }
      }
    }
  }

  .#{$class}-item-information {
    display: block;
    position: relative;
    text-align: left;
    padding: 20px 20px 40px 20px;
  }

  .#{$class}-item-name {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    max-height: 48px;

    a {
      text-decoration: none;
    }
  }

  .#{$class}-item-description {
    display: block;
    margin-top: 15px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5;
    color: #505457;

    -webkit-transition: height 350ms;
    -moz-transition: height 350ms;
    -ms-transition: height 350ms;
    -o-transition: height 350ms;
    transition: height 350ms;
  }

  [data-alignment="left"] {
    text-align: left;
  }

  [data-alignment="center"] {
    text-align: center;
  }

  [data-alignment="right"] {
    text-align: right;
  }
}