.size {
  max-width: 1344px !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.blog__wrapper {
  max-width: 1344px !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.brand_block_variant__wrapper {
  max-width: 1344px !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.catalog_section_block {
  max-width: 1344px !important;
  margin-left: auto !important;
  margin-right: auto !important; }

@media screen and (max-width: 1390px) {
  .news-slider-wrapper {
    overflow: hidden; } }

.news-block__wrapper {
  max-width: 1344px !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.promotion-block__wrapper {
  max-width: 1344px !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.header-two__main-nav {
  max-width: 1344px !important; }

.contacts-content-size-wrapper {
  max-width: 1344px !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.news_block_one_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px; }

.news_block_one__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px; }

.news_block_one__content {
  margin-top: 0.7rem; }

.news_block_one__img_link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 240px;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }
  .news_block_one__img_link > img {
    height: 100%;
    width: auto; }

@media (max-width: 1024px) {
  .news_block_one__img_link {
    height: 170px; } }

@media (max-width: 768px) {
  .news_block_one__img_link {
    height: 164px; }
  .news_block_one .slick-slide {
    width: 290px;
    margin-right: 20px; }
  .news_block_one .promotion_block__content:last-child {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .news_block_one__item,
  .news_block_one__others {
    margin-left: 0; }
  .news_block_one_wrapper {
    margin: 0; } }

@media (max-width: 576px) {
  .news-block__wrapper .news_block_one .slick-slide {
    width: 260px;
    margin-right: 20px; } }
