body h1:not([class]) {
  display: none;
  padding-bottom: 20px;
  font-size: 31px; }

.service-order .service-order__detail-description-show-more {
  display: none; }

.service-order .service-detail-item__content-hidden-counter {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  margin-right: 20px;
  margin-top: 10px; }

.service-order .service-order__detail-description-text-wrapper {
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.service-order .service-detail-item__content-hidden-counter-btn {
  height: 100%;
  background: 0;
  border: 1px solid #ededed; }

.service-order .service-detail-item__content-hidden-counter-input {
  width: 36px;
  text-align: center;
  border: 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed; }

.service-order .service-order__banner-buttons-byu-in-click-icon {
  fill: #ffffff;
  stroke: var(--main-color);
  display: none; }

.service-order .in_basket.main_btn-white {
  margin-top: 10px; }

.service-order .service-order__banner {
  margin-bottom: 30px;
  padding: 30px 40px;
  border: 1px solid #EDEDED;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(rgba(255, 255, 255, 0.95))), -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0))), url("./banner_bg_5.png");
  background-image: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.95) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%), url("./banner_bg_5.png");
  background-position: 0, 470px 0, center;
  background-size: 470px 100%, 335px 100%, cover;
  background-repeat: no-repeat; }
  .service-order .service-order__banner .service-order__banner-content-mobile-banner {
    display: none; }
  .service-order .service-order__banner .service-order__banner-content {
    max-width: 620px; }
  .service-order .service-order__banner .service-order__banner-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 31px;
    line-height: 37px; }
  .service-order .service-order__banner .service-order__banner-description {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 20px; }
  .service-order .service-order__banner .service-order__banner-price-title {
    font-size: 12px;
    line-height: 18px;
    color: #808080; }
  .service-order .service-order__banner .service-order__banner-price-wrapper {
    margin-bottom: 15px; }
  .service-order .service-order__banner .service-order__banner-amount {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px; }
  .service-order .service-order__banner .service-order__banner-discount {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    text-decoration: line-through;
    color: #808080; }
  .service-order .service-order__banner .service-order__banner-economy {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 17px; }
  .service-order .service-order__banner .service-order__banner-economy-title {
    display: inline-block;
    margin-right: 5px;
    color: #808080; }
  .service-order .service-order__banner .service-order__banner-buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .service-order .service-order__banner .service-order__banner-economy-amount {
    display: inline-block;
    padding: 0 5px;
    color: #00B02A;
    border: 1px solid; }
  .service-order .service-order__banner .service-order__banner-buttons-add-wrapper {
    display: inline-block; }
  .service-order .service-order__banner .service-order__banner-buttons-add {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 160px;
    height: 40px;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .service-order .service-order__banner .service-order__banner-buttons-add:hover {
      background-color: var(--main-color-hover); }
  .service-order .service-order__banner .service-order__banner-buttons-byu-in-click {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 160px;
    height: 40px;
    margin-top: 10px;
    color: var(--main-color);
    background: none;
    border: 1px solid var(--main-color);
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .service-order .service-order__banner .service-order__banner-buttons-byu-in-click.btnLoaderCustom {
      color: transparent !important; }
    .service-order .service-order__banner .service-order__banner-buttons-byu-in-click:hover {
      color: var(--main-color-hover);
      border-color: var(--main-color-hover); }
    .service-order .service-order__banner .service-order__banner-buttons-byu-in-click .loader-btn svg {
      fill: var(--main-color); }

.service-order .service-order__detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  .service-order .service-order__detail .service-order__detail-description-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px; }
  .service-order .service-order__detail .service-order__detail-description-text {
    text-align: justify;
    line-height: 20px; }
    .service-order .service-order__detail .service-order__detail-description-text ul li {
      margin-bottom: 15px;
      color: var(--main-color); }
    .service-order .service-order__detail .service-order__detail-description-text ul span {
      color: #000000; }
  .service-order .service-order__detail .service-order__detail-params {
    width: 430px;
    padding: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 30px;
    background-color: #fafafa; }
  .service-order .service-order__detail .service-order__detail-params-item + .service-order__detail-params-item {
    margin-top: 20px; }
  .service-order .service-order__detail .service-order__detail-params-title {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #808080; }
  .service-order .service-order__detail .service-order__detail-params-data {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px; }
    .service-order .service-order__detail .service-order__detail-params-data + .service-order__detail-params-title {
      margin-top: 15px; }

@media (max-width: 1024px) {
  body h1:not([class]) {
    font-size: 28px; }
  .service-order .service-order__banner .service-order__banner-price-wrapper {
    margin-bottom: 10px; }
  .service-order .service-order__banner {
    padding: 30px;
    background-position: 0, 358px 0, center;
    background-size: 358px 100%, 256px 100%, cover; }
    .service-order .service-order__banner .service-order__banner-title {
      font-size: 28px;
      line-height: 34px; }
    .service-order .service-order__banner .service-order__banner-content {
      max-width: 467px; }
    .service-order .service-order__banner .service-order__banner-description {
      margin-bottom: 15px; }
    .service-order .service-order__banner .service-order__banner-economy {
      margin-bottom: 10px; }
  .service-order .service-order__detail .service-order__detail-params {
    width: 321px;
    padding: 20px; }
  .service-order .service-detail-item__content-hidden-counter {
    margin-right: 15px; }
  .service-order .service-order__banner .service-order__banner-buttons-add {
    margin-right: 15px; } }

@media (max-width: 768px) {
  .service-order .service-order__detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }
    .service-order .service-order__detail .service-order__detail-description-text {
      font-size: 13px; }
    .service-order .service-order__detail .service-order__detail-params {
      width: 100%;
      margin-left: 0; }
    .service-order .service-order__detail .service-order__detail-params-title {
      width: 50%; }
    .service-order .service-order__detail .service-order__detail-params-item + .service-order__detail-params-item {
      margin-top: 10px; }
  .service-order .service-order__banner {
    padding: 20px;
    background-position: 0, 436px 0, center;
    background-size: 436px 100%, 182px 100%, cover; }
    .service-order .service-order__banner .service-order__banner-amount {
      margin-right: 10px;
      font-size: 24px;
      line-height: 29px; }
  .service-order__detail-params-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .service-order__detail-description {
    margin-bottom: 5px; } }

@media (max-width: 600px) {
  body h1:not([class]) {
    padding-bottom: 20px;
    font-size: 24px; }
  .service-order .service-order__banner {
    padding: 0;
    background: none; }
    .service-order .service-order__banner .service-order__banner-content {
      max-width: none; }
    .service-order .service-order__banner .service-order__banner-content-mobile-banner {
      display: block;
      width: 100%;
      height: 80px;
      overflow: hidden; }
      .service-order .service-order__banner .service-order__banner-content-mobile-banner img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
  .service-order .service-order__detail .service-order__detail-description-title {
    font-size: 17px; }
  .service-order .service-order__banner .service-order__banner-title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 29px; }
  .service-order__banner-content-padding-mobile {
    padding: 10px; }
  .service-order .service-order__detail .service-order__detail-params {
    padding: 10px; } }

@media (max-width: 470px) {
  .service-order__banner-buttons-add {
    padding: 0 10px; }
  .product-detail-info-block-basket {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .service-order__banner-buttons-add-wrapper {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .service-order .service-order__banner .service-order__banner-buttons-add {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    min-width: 0;
    margin-right: 10px; }
  .service-order .service-order__banner .service-order__banner-buttons-byu-in-click {
    min-width: 0;
    border-color: transparent !important; }
    .service-order .service-order__banner .service-order__banner-buttons-byu-in-click:hover {
      border-color: transparent !important; }
    .service-order .service-order__banner .service-order__banner-buttons-byu-in-click span {
      display: none; }
    .service-order .service-order__banner .service-order__banner-buttons-byu-in-click .service-order__banner-buttons-byu-in-click-icon {
      display: block; }
  .service-order .service-order__banner {
    margin-bottom: 20px; }
  .service-order .service-order__banner .service-order__banner-title {
    margin-bottom: 5px; }
  .service-order .service-order__banner .service-order__banner-description {
    margin-bottom: 10px;
    font-size: 12px; }
  .service-order .service-order__banner .service-order__banner-amount {
    font-size: 20px;
    line-height: 26px; }
  .service-order .service-order__banner .service-order__banner-discount {
    font-size: 14px;
    line-height: 21px; }
  .service-order .service-order__detail .service-order__detail-description-title {
    margin-bottom: 10px; }
  .service-order .service-order__detail-description-show-more {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--main-color);
    cursor: pointer; }
  .service-order__banner-buttons {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 102;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0 15px 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15); }
  .service-order .service-order__detail .service-order__detail-params-title {
    width: 100%;
    margin-bottom: 0; }
  .service-order .service-order__detail .service-order__detail-params-item + .service-order__detail-params-item {
    margin-top: 15px; } }

@media (max-width: 430px) {
  .service-order__detail-params-item {
    display: block; } }
