.product-item-gift__block .product_card__path_to_basket .in_basket {
    min-height: 40px !important;
}

.product-item-gift__block .product_card__path_to_basket {
    padding: 0 !important;
}

.product-item-gift__block.product_card__block {
    display: flex;
    flex-direction: column;
}

.product-item-gift__block div[data-entity="buttons-block"] {
    margin-top: auto;
}

.product-item-quantity {
    color: #333;
    font-weight: normal;
    font-size: 12px;
}

.product_card__block_item_inner.hover .product_card__block__title_product_link {
    color: var(--main-color);
}

.product_card__block_icon {
    position: absolute;
    right: 1rem;
    font-size: 1.4rem;
    color: #c3c3c3;
    z-index: 99;
    transition: 1s;
}

.product_card__block_icon .fa-heart {
    margin-bottom: 14px;
}

.product_card__block_icon .fa-heart.active,
.product_card__block_icon .fa-chart-bar.active {
    color: #ffffff;
    cursor: pointer;
    transition: 1s;
    opacity: 1;
    background: var(--main-color);
}

.product_card__block_icon .fa-heart,
.product_card__block_icon .fa-chart-bar {
    display: block;
    transition: 1s;
    opacity: 0;
    color: #c3c3c3;
    background: #ffffff;
    border-radius: 50%;
    padding: 6px;
    font-size: 15px;
}

.product_card__block_icon .fa-heart:hover,
.product_card__block_icon .fa-chart-bar:hover {
    background: #ededed;
    color: var(--main-color);
    cursor: pointer;
    transition: 1s;
}

.product_card__block__presence_product_value_many {
    display: inline-block;
    font-size: 0.78rem;
    white-space: nowrap;
}

.product_card__block__presence_product_value_many .product-card_icon-check {
    padding-top: 3px;
    fill: #28b843;
}

.product_card__block__presence_product_value_many i {
    color: #28b843;
}

.sticker_product {
    position: absolute;
    left: 1rem;
    z-index: 82;
    text-align: left;
}

.sticker_product__sale {
    padding: 0.1rem 0.5rem;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    margin-bottom: 0.1rem;
    background: #f7be13;
}

.sticker_product__hit {
    padding: 0.1rem 0.5rem;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    margin-bottom: 0.1rem;
    background: #00b02a;
}
