#global_menu_kit .adm-main-menu-item-icon{
    background: url("icons/kit/icon.png") no-repeat 50% 55%;
}
.kit_crosssell_menu_icon{
    background: url("icons/kit.crosssell/icon_small.png") no-repeat center;
    margin-top:0!important;
}