//@import "variables.scss";

/* ___________ variant 1 popular_category_block __________________ */
.popular_category__wrapper {
  padding-left: 15px;
  padding-right: 15px;
//   margin-bottom: 60px;
}

.popular_category_block_variant__tags_item {
  display: inline-block;
  color: #8b8b8b;
  padding: 0 2rem 0 0;
}

.popular_category_block_variant__tags_item span {
  color: #000000;
}


.popular_category_block_variant__canvas_title,
.popular_category_block_variant__tags {
  padding-bottom: 1rem;
}

.popular_category_block_variant__comment {
  font-size: 0.93rem;
}

.popular_category_block_variant__canvas_img {
  width: 100%;
}

.popular_category_block_variant__canvas_link {
  display: block;
  overflow: hidden;

//   & .popular_category_block_variant__canvas_img {
//     transition: all 0.3s ease-in-out;
//   }

//   &:hover .popular_category_block_variant__canvas_img {
//     transform: scale(1.1);
//   }
}

