.advantage-three-wrap {
  padding: 46px 0;
  background-color: #F7F7F7; }

.block_main_advantage_variant-three__item_link {
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .block_main_advantage_variant-three__item_link svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .block_main_advantage_variant-three__item_link .block_main_advantage_variant-three__comment {
    color: #808080; }
  .block_main_advantage_variant-three__item_link:hover {
    color: var(--main-color-hover); }
    .block_main_advantage_variant-three__item_link:hover .block_main_advantage_variant-three__icons svg {
      fill: var(--main-color-hover); }

.block_main_advantage_variant_three {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.block_main_advantage_variant-three {
  width: calc(25% - 30px); }

.block_main_advantage_variant-three__item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.block_main_advantage_variant-three__content {
  padding-left: 20px; }

.block_main_advantage_variant-three__icons {
  width: 70px;
  min-width: 70px; }
  .block_main_advantage_variant-three__icons img {
    width: 100%;
    height: 100%; }
  .block_main_advantage_variant-three__icons svg {
    width: 100%;
    height: auto;
    fill: var(--main-color); }

.block_main_advantage_variant-three__comment {
  padding-bottom: 0; }

.block_main_advantage_variant-three__title {
  padding-bottom: 2px;
  line-height: 25px;
  font-weight: bold; }

.block_main_advantage_variant-three__comment {
  line-height: 18px;
  color: #808080; }

@media (max-width: 1400px) {
  .block_main_advantage_variant-three__item {
    padding: 0 1rem 0 0; } }

@media (max-width: 1200px) and (min-width: 992px) {
  .block_main_advantage_variant-three__comment {
    font-size: 0.85rem; } }

@media (max-width: 992px) {
  .block_main_advantage_variant-three,
  .block_main_advantage__one {
    width: 50%;
    margin-bottom: 1.5rem;
    padding-left: 0; }
  .block_main_advantage__one:last-child,
  .block_main_advantage_variant-three:last-child {
    margin-bottom: 0; }
  .block_main_advantage_variant_three,
  .block_main_advantage {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 768px) {
  .block_main_advantage {
    padding: 0 15px; }
  .block_main_advantage_variant_three {
    padding: 0 10px; }
  .block_main_advantage_icons img {
    width: 60px; }
  .block_main_advantage__one {
    margin-bottom: 30px; } }

@media (max-width: 576px) {
  .block_main_advantage_variant-three,
  .block_main_advantage__one {
    width: 100%; }
  .block_main_advantage {
    padding: 0 15px; }
  .block_main_advantage_variant_three {
    padding: 0 15px; } }
