.brand_block__wrapper[style] {
  margin-bottom: 30px;
  padding: 0; }

.brand_block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.brand_block__item {
  -webkit-box-ordinal-group: 2;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  opacity: 0.5;
  padding: 0 1rem;
  text-align: center; }
  .brand_block__item.swiper-slide {
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .brand_block__item .brand_block__item_link {
    width: 100%; }

.brand_block__item img {
  max-width: 100%;
  max-height: 3rem;
  display: inline;
  width: auto;
  height: auto; }

.brand_block .brand_block__item_link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

.brand_block .brand_block__item {
  width: calc(100% / 5); }

@media (max-width: 992px) {
  .brand_block_variant .brand_block__item img {
    max-height: 4rem; } }

@media (max-width: 768px) {
  .brand_block__wrapper[style] {
    margin-bottom: 40px;
    padding: 0 10px; }
    .brand_block__wrapper[style] .brand_block_variant_two {
      padding-right: 0; }
    .brand_block__wrapper[style] .brand_block_variant_two__item {
      height: auto;
      line-height: normal; }
  .brand_block__item.swiper-slide {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 240px; } }
