$namespace: 'bitrix';
$component: 'catalog-section-list';
$template: 'catalog-tile-2';
$class: #{$component};

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  display: block;

  .#{$class}-items {
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
  }
  
  .#{$class}-item {
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    -ms-transition: box-shadow 350ms;
    -o-transition: box-shadow 350ms;
    transition: box-shadow 350ms;

    &:hover {
      z-index: 1;

      -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.15);
      -moz-box-shadow: 0 0 20px rgba(0,0,0,0.15);
      box-shadow: 0 0 20px rgba(0,0,0,0.15);
    }
  }

  .#{$class}-item-wrapper {
    display: block;
    position: relative;
    padding-top: 100%;
  }

  .#{$class}-item-wrapper-2 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .#{$class}-item-image {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 50px 70px 50px;

    @media all and (max-width: 450px) {
      padding: 25px 45px 65px 45px;
    }
  }

  .#{$class}-item-image-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .#{$class}-item-information {
    display: block;
    position: absolute;
    top: auto;
    right: 10px;
    bottom: 10px;
    left: 10px;
    text-align: center;
  }

  .#{$class}-item-title {
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    color: #2d2d2d;
    height: 48px;
    overflow: hidden;

    -webkit-transition: color 350ms;
    -moz-transition: color 350ms;
    -ms-transition: color 350ms;
    -o-transition: color 350ms;
    transition: color 350ms;
    
    @media all and (max-width: 450px) {
      font-size: 12px;
      height: 36px;
    }
  }

  &[data-borders="true"] {
    .#{$class}-item {
      border: 1px solid #f2f2f2;
      margin: 0 -1px -1px 0;
    }
  }
}