$namespace: 'bitrix';
$component: 'catalog-section-list';
$template: 'services-list-1';
$class: #{$component};

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  display: block;

  .#{$class}-items {}
  .#{$class}-item {}

  .#{$class}-item-wrapper {
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #eee;
    overflow: hidden;
  }

  .#{$class}-item-picture {
    display: block;
    position: relative;
    float: left;
    width: 190px;

    a {
      display: block;
      position: relative;
      text-decoration: none;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      padding-top: 100%;
    }
  }

  .#{$class}-item-information {
    display: block;
    position: relative;
    text-align: left;
    margin-left: 190px;
    padding: 15px 20px 15px 25px;
  }

  .#{$class}-item-name {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    max-height: 48px;
    text-decoration: none;
    overflow: hidden;
  }

  .#{$class}-item-description {
    display: block;
    color: #616267;
    font-size: 14px;
    line-height: 1.5;
    max-height: 105px;
    margin-top: 15px;
    overflow: hidden;
  }

  &[data-rounded="true"] {
    .#{$class}-item-wrapper {
      border-radius: 7px;
    }
  }

  @media all and (max-width: 500px) {
    .#{$class}-item-picture {
      width: 100px;

      a {
        padding-top: 170%;
      }
    }

    .#{$class}-item-information {
      margin-left: 100px;
    }

    .#{$class}-item-name {
      font-size: 14px;
      max-height: 42px;
    }

    .#{$class}-item-description {
      font-size: 12px;
      max-height: 90px;
    }
  }
}