@import "../../../../../sotbit_origami/assets/scss/variables";

.subscribe_subform {
    display: flex;
    flex-direction: column;
}

.subscribe_subform__input {
    display: flex;
}

.subscribe-desc__title {
    margin-bottom: 6px;
    margin-top: 8px;
    color: #aaa;
}

.subscribe_checkbox_container {

    label {
        position: relative;
        margin: 0;
        padding-left: 30px;
        color: #aaa;
        user-select: none;
        cursor: pointer;

        &:not(:first-of-type) {
            margin-top: 6px;
        }

        &:hover {
            color: var(--main-color);

            .subscribe_checkbox_checked {
                border-color: var(--main-color);
                transition: border-color 0.2s ease-out ;
            }
            transition: color 0.2s ease-out;
        }

        .subscribe_checkbox_checked {
            position: absolute;
            top: 2px;
            left: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;
            border: 2px solid #E6E6E6;
            box-sizing: border-box;
            border-radius: 2px;
        }

        .subscribe_checkbox_checked__icon {
            fill: #fff;
        }
    }

    input {
        display: none;

        &:checked + label {
            .subscribe_checkbox_checked {
                border-color: var(--main-color);
                background-color: var(--main-color);
            }

            .subscribe_checkbox_checked__icon {
                fill: #fff;
            }
        }

    }
}

.fonts__big_comment {
    font-family: $main_font, Arial, sans-serif;
    font-weight: 700;
    font-size: 0.93rem;
}

.fonts__main_title {
    font-family: $main_font, Arial, sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
}

@media (max-width: 1199.98px) {
    .fonts__main_title {
        font-size: 3rem;
    }
}
.footer-block__follow_input_submit {
    background-color: var(--main-color);
}

.footer-block__follow_input_submit:hover {
    background-color: var(--main-color-hover);
}
