.widget-logotype-settings {}
.widget-logotype-settings .widget-logotype-type {
    display: block;
    height: 38px;
    border-radius: 4px;
    background: #3b3b3b;
    overflow: hidden;
}
.widget-logotype-settings .widget-logotype-type .widget-logotype-button {
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    color: #fff;
    line-height: 38px;
    font-size: 12px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -ms-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    cursor: pointer;
}
.widget-logotype-settings .widget-logotype-type .widget-logotype-button:hover,
.widget-logotype-settings .widget-logotype-type .widget-logotype-button.widget-logotype-button-active {
    background: #3762ef;
}