.ns-bitrix.c-basket.c-basket-template-1 .basket-body {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-body + .basket-gifts[data-showed=true] {
  margin-top: 64px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-total ~ .basket-items {
  margin-top: 40px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-total-container {
  padding: 32px 40px 32px 32px;
  border: 1px solid #E8E8E8;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert {
  position: relative;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert + .basket-alert {
  margin-top: 8px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert + * {
  margin-top: 16px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert.basket-alert-sticky + * {
  margin-top: 0;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert-close ~ * {
  padding-right: 10px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert-interactive {
  border-bottom: 1px dashed;
  cursor: pointer;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert-interactive:hover {
  opacity: 0.7;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert-interactive-button {
  display: inline-block;
  line-height: 1;
  border: 1px solid;
  padding: 3px 6px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: transform, opacity;
  -moz-transition-property: transform, opacity;
  -ms-transition-property: transform, opacity;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.2s, 0.4s;
  -moz-transition-duration: 0.2s, 0.4s;
  -ms-transition-duration: 0.2s, 0.4s;
  -o-transition-duration: 0.2s, 0.4s;
  transition-duration: 0.2s, 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert-interactive-button:active {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert-interactive-button:hover {
  opacity: 0.7;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-alert-line + * {
  margin-top: 6px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-field {
  min-width: 280px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-field-name {
  font-size: 14px;
  line-height: 16px;
  color: #808080;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-field-input {
  margin-top: 8px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-messages {
  overflow: hidden;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message {
  font-size: 0;
  margin-top: 24px;
  margin-left: -4px;
  margin-right: -4px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message[data-state=success] {
  color: #1DB940;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message[data-state=error] {
  color: #E05757;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message + .basket-coupon-message {
  margin-top: 16px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message > span {
  display: inline-block;
  vertical-align: middle;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message > span, .ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message div {
  margin-left: 4px;
  margin-right: 4px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message-value {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #404040;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message-delete {
  font-size: 12px;
  line-height: 12px;
  color: #808080;
  padding: 3px 6px;
  border: 1px solid #B0B0B0;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: border-color, transform;
  -moz-transition-property: border-color, transform;
  -ms-transition-property: border-color, transform;
  -o-transition-property: border-color, transform;
  transition-property: border-color, transform;
  -webkit-transition-duration: 0.4s, 0.2s;
  -moz-transition-duration: 0.4s, 0.2s;
  -ms-transition-duration: 0.4s, 0.2s;
  -o-transition-duration: 0.4s, 0.2s;
  transition-duration: 0.4s, 0.2s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message-delete:hover {
  border-color: #E8E8E8;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message-delete:active {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message-description {
  font-size: 12px;
  line-height: 14px;
  margin-top: 6px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price {
  overflow: hidden;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-info-name {
  font-size: 18px;
  line-height: 21px;
  color: #1B1E25;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-info-values {
  margin-top: 10px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-info-value {
  font-size: 14px;
  line-height: 16px;
  color: #808080;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-info-value + .basket-price-info-value {
  margin-top: 6px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-current {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #1B1E25;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-discount {
  font-size: 14px;
  line-height: 14px;
  color: #808080;
  text-decoration: line-through;
  margin-top: 4px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-economy {
  margin-top: 8px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-economy-wrapper {
  font-size: 0;
  margin-left: -3px;
  margin-right: -3px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-economy-wrapper > span {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-economy-name {
  color: #808080;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-price-economy-value {
  color: #1B1E25;
  padding: 4px;
  background-color: #F4BB28;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-order {
  margin-left: 40px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-order-button + .basket-order-button {
  margin-top: 8px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-control-wrap {
  width: 30%;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-control {
  position: relative;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-control-input {
  position: relative;
  padding-right: 40px;
  z-index: 1;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-control-reset {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
  z-index: 2;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-control-reset svg {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-control-reset path {
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -ms-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-control-reset:hover path {
  stroke: #E05757;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-statuses {
  overflow: hidden;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-statuses-wrapper {
  margin-left: -16px;
  margin-right: -16px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-status {
  font-size: 18px;
  line-height: 21px;
  color: #B0B0B0;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -webkit-transition-property: border-color, color;
  -moz-transition-property: border-color, color;
  -ms-transition-property: border-color, color;
  -o-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-status.active, .ns-bitrix.c-basket.c-basket-template-1 .basket-filter-status:hover {
  color: #404040;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-empty {
  font-size: 0;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-empty-picture {
  margin-bottom: 32px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-empty-picture svg {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-empty-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: #B0B0B0;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-filter-empty-description {
  font-size: 14px;
  line-height: 22px;
  color: #808080;
  margin-top: 16px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items + .basket-total {
  margin-top: -1px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel {
  overflow: hidden;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel + div {
  margin-top: 32px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel-button {
  padding: 12px 20px;
  background-color: #FFF;
  border-width: 1px;
  border-color: #B0B0B0;
  -webkit-transition-property: border-color, background-color;
  -moz-transition-property: border-color, background-color;
  -ms-transition-property: border-color, background-color;
  -o-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel-button-icon {
  font-size: 0;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel-button-icon svg {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 18px;
  max-height: 18px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel-button-icon path {
  fill: #B0B0B0;
  -webkit-transition-property: fill;
  -moz-transition-property: fill;
  -ms-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel-button-content {
  font-size: 14px;
  line-height: 14px;
  color: #808080;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel-button-print {
  border-color: transparent;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel-button-print:hover .basket-items-panel-button-icon path {
  fill: #404040;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel-button-delete:hover {
  background-color: #FBE7E7;
  border-color: #FBE7E7;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel-button-delete:hover .basket-items-panel-button-icon path {
  fill: #E05757;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel-button-delete:hover .basket-items-panel-button-content {
  color: #E05757;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-overlay {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2 !important;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item {
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -ms-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.082);
  -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.082);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.082);
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item + .basket-item {
  margin-top: -1px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-highlighted {
  background-color: #F4BB28;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-wrapper {
  border: 1px solid #E8E8E8;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-content {
  margin: 24px 32px;
  overflow: hidden;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image {
  position: relative;
  text-align: center;
  width: 120px;
  max-height: 120px;
  margin-right: 50px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image img {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 120px;
  z-index: 1;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  width: 120px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image-stickers {
  position: absolute;
  margin: 3px;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image-stickers[data-position-y=middle] {
  margin-top: 0;
  margin-bottom: 0;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image-stickers[data-position-x=left] {
  text-align: left;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image-stickers[data-position-x=center] {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image-stickers[data-position-x=right] {
  text-align: right;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image-stickers-wrapper {
  font-size: 0;
  margin: -3px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image-sticker {
  margin: 3px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image-sticker + .basket-item-image-sticker {
  margin-top: 0;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-image-sticker-value {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #1B1E25;
  padding: 3px 4px;
  background-color: #F4BB28;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-name {
  font-size: 0;
  margin: 0;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-name > * {
  font-size: 18px;
  line-height: 24px;
  color: #1B1E25;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-name + * {
  margin-top: 16px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-offers + * {
  margin-top: 24px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-offers-property + * {
  margin-top: 16px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-offers-property-name {
  font-size: 14px;
  line-height: 16px;
  color: #404040;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-offers-property-values {
  margin-top: 8px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-offers-property-values-wrapper {
  font-size: 0;
  margin: -4px -3px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-offers-property-value {
  display: inline-block;
  margin: 4px 3px;
  vertical-align: middle;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-offers-property-value-content {
  border: 1px solid #E8E8E8;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: border-color, background-color, transform;
  -moz-transition-property: border-color, background-color, transform;
  -ms-transition-property: border-color, background-color, transform;
  -o-transition-property: border-color, background-color, transform;
  transition-property: border-color, background-color, transform;
  -webkit-transition-duration: 0.4s, 0.4s, 0.2s;
  -moz-transition-duration: 0.4s, 0.4s, 0.2s;
  -ms-transition-duration: 0.4s, 0.4s, 0.2s;
  -o-transition-duration: 0.4s, 0.4s, 0.2s;
  transition-duration: 0.4s, 0.4s, 0.2s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-offers-property-value-content:active {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
.ns-bitrix.c-basket.c-basket-template-1 [data-offer-property-type=picture] .basket-item-offers-property-value.selected > div > i {
  opacity: 1;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-offer-property-type=picture] .basket-item-offers-property-value.not-available > div {
  opacity: 0.3;
  cursor: not-allowed;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-offer-property-type=picture] .basket-item-offers-property-value-content {
  text-align: center;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-offer-property-type=picture] .basket-item-offers-property-value-content > i {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  color: #FFF;
  opacity: 0;
  vertical-align: middle;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-offer-property-type=text] .basket-item-offers-property-value.selected > div {
  background-color: #E8E8E8;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-offer-property-type=text] .basket-item-offers-property-value-content {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 7px 8px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-basket-properties + div {
  margin-top: 13px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-basket-properties + .basket-item-offers {
  margin-top: 24px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-basket-property {
  overflow: hidden;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-basket-property + .basket-item-basket-property {
  margin-top: 13px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-basket-property-name {
  font-size: 14px;
  line-height: 20px;
  color: #B0B0B0;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-basket-property-value {
  font-size: 14px;
  line-height: 20px;
  color: #404040;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-product-properties + div {
  margin-top: 13px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-product-properties + .basket-item-offers {
  margin-top: 24px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-product-property {
  overflow: hidden;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-product-property + .basket-item-product-property {
  margin-top: 13px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-product-property-name {
  font-size: 14px;
  line-height: 20px;
  color: #B0B0B0;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-product-property-values {
  overflow: hidden;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-product-property-type=picture] .basket-item-product-property-values {
  margin-top: 5px;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-product-property-type=picture] .basket-item-product-property-value {
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px;
  border: 1px solid #E8E8E8;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -ms-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-product-property-type=text] .basket-item-product-property-value {
  font-size: 14px;
  line-height: 20px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-additional {
  overflow: hidden;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-apart-measure {
  font-size: 14px;
  line-height: 16px;
  color: #404040;
  margin-bottom: 6px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-apart-value {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #1B1E25;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-apart-discount {
  font-size: 14px;
  line-height: 16px;
  color: #808080;
  text-decoration: line-through;
  margin-top: 4px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-along {
  text-align: center;
  margin-top: 12px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-along-value {
  font-size: 14px;
  line-height: 16px;
  color: #404040;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-along-discount {
  font-size: 12px;
  line-height: 12px;
  color: #808080;
  text-decoration: line-through;
  margin-top: 6px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-quantity-wrap {
  font-size: 0;
  text-align: center;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-quantity [disabled=disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-quantity-counter button {
  padding-left: 18px !important;
  padding-right: 18px !important;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-wrap {
  font-size: 0;
  text-align: right;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-total {
  display: inline-block;
  text-align: left;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-percent {
  font-size: 14px;
  line-height: 16px;
  color: #404040;
  margin-bottom: 6px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-value {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #1B1E25;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-discount {
  font-size: 14px;
  line-height: 16px;
  color: #808080;
  text-decoration: line-through;
  margin-top: 4px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-economy {
  margin-top: 8px;
  overflow: hidden;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-economy-wrapper {
  font-size: 0;
  margin-left: -3px;
  margin-right: -3px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-economy-wrapper > div {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-economy-name {
  color: #808080;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-economy-value {
  color: #1B1E25;
  padding: 4px;
  background-color: #F4BB28;
  white-space: nowrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-actions,
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-actions > div,
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-action {
  height: 100%;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-action {
  position: relative;
  font-size: 0;
  width: 40px;
  background-color: #F2F2F2;
  cursor: pointer;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-action > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-action > svg path {
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -ms-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-action[data-item-action=delete]:hover {
  background-color: #FBE7E7;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-item-action[data-item-action=delete]:hover path {
  stroke: #E05757;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-empty {
  font-size: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-empty-picture {
  margin-bottom: 36px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-empty-picture svg {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-empty-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: #B0B0B0;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-empty-description {
  font-size: 14px;
  line-height: 22px;
  color: #808080;
  margin-top: 16px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-empty-button {
  margin-top: 24px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-gifts[data-showed=true] + * {
  margin-top: 64px;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-gifts-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #1B1E25;
}
.ns-bitrix.c-basket.c-basket-template-1 .basket-gifts-title + .basket-gifts-list {
  margin-top: 32px;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-position-y=top] {
  top: 0;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-position-y=middle] {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ns-bitrix.c-basket.c-basket-template-1 [data-position-y=bottom] {
  bottom: 0;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-position-x=left] {
  left: 0;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-position-x=center] {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ns-bitrix.c-basket.c-basket-template-1 [data-position-x=right] {
  right: 0;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-position-y=middle][data-position-x=center] {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ns-bitrix.c-basket.c-basket-template-1 [data-overlayed=true] {
  position: relative;
}
.ns-bitrix.c-basket.c-basket-template-1 [data-overlayed=true] > * {
  position: relative;
  z-index: 1;
}
@media all and (max-width: 1200px) {
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-apart-wrap {
    font-size: 0;
    text-align: right;
    order: 3;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-apart {
    display: inline-block;
    text-align: left;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-quantity-wrap {
    font-size: 0;
    text-align: right;
    order: 2;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-quantity-wrapper {
    display: inline-block;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-wrap {
    order: 1;
  }
}
@media all and (max-width: 1024px) {
  .ns-bitrix.c-basket.c-basket-template-1 .basket-total-wrapper > div + div {
    margin-top: 40px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-field {
    min-width: auto;
    max-width: 280px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-price-wrap {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
}
@media all and (max-width: 800px) {
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-image {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
@media all and (max-width: 768px) {
  .ns-bitrix.c-basket.c-basket-template-1 .basket-body + .basket-gifts[data-showed=true] {
    margin-top: 48px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-total-container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-total-wrapper > div + div {
    margin-top: 24px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message-value {
    display: block !important;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-coupon-message-delete {
    margin-top: 6px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-price-wrapper {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-price-current {
    font-size: 20px;
    line-height: 24px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-price-info-value {
    font-size: 12px;
    line-height: 14px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-order {
    margin-top: 24px;
    margin-left: 0;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-order-wrapper {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-filter-wrap {
    display: none;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-items-panel + div {
    margin-top: 24px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-content {
    margin-left: 24px;
    margin-right: 24px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-name > * {
    font-size: 16px;
    line-height: 22px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 [data-offer-property-type=picture] .basket-item-offers-property-value-content {
    width: 36px;
    height: 36px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 [data-offer-property-type=picture] > i {
    font-size: 16px;
    line-height: 16px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 [data-offer-property-type=text] .basket-item-offers-property-value-content {
    padding: 11px 12px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-basket-property + .basket-item-basket-property {
    margin-top: 9px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-product-property + .basket-item-product-property {
    margin-top: 9px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-value {
    font-size: 20px;
    line-height: 24px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-percent {
    font-size: 12px;
    line-height: 14px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-apart-measure {
    font-size: 12px;
    line-height: 14px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-apart-value {
    font-size: 20px;
    line-height: 20px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-gifts[data-showed=true] + * {
    margin-top: 48px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-gifts-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-gifts-title + .basket-gifts-list {
    margin-top: 24px;
  }
}
@media all and (max-width: 650px) {
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-price-apart-wrap {
    text-align: left;
    order: 1;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-quantity-wrap {
    text-align: left;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-total-wrap {
    text-align: left;
    order: 3;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-action {
    width: auto;
    height: 48px;
  }
}
@media print {
  .ns-bitrix.c-basket.c-basket-template-1 [data-print=false] {
    display: none;
  }
  .ns-bitrix.c-basket.c-basket-template-1 .basket-item-quantity-counter.intec-ui.intec-ui-control-numeric .intec-ui-part-input {
    box-shadow: none !important;
    padding: 0px !important;
    background: none !important;
    border: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
