$namespace: 'bitrix';
$component: 'catalog-section';
$template: 'services-list-5';
$class: #{$component};
$item: #{$component}-item;
$tabs: #{$component}-tabs;

@mixin transition ($property, $duration) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin user-select ($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}
@mixin box-sizing ($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  .#{$class}-navigation {
    display: block;
    z-index: 0;

    &.#{$class}-navigation-top {
      margin-bottom: 30px;
    }
    &.#{$class}-navigation-bottom {
      margin-top: 30px;
    }
  }
  .#{$item} {
    padding: 80px 0;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    @include transition(opacity, 0.3s);

    &[data-active='true'] {
      opacity: 1;
    }
    &[data-active='false'] {
      opacity: 0;
    }
    &:nth-child(odd) {
      .#{$item}-content {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
      }
    }
  }
  .#{$item}-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .#{$item}-image {
    font-size: 0;
    text-align: center;
  }
  .#{$item}-type {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .#{$item}-logotype {
    img {
      display: inline-block;
      width: auto;
      height: auto;
      max-width: 90px;
    }
  }
  .#{$item}-name {
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    @include transition(opacity, 0.4s);

    &:hover {
      opacity: 0.6;
    }
  }
  .#{$item}-description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }
  .#{$item}-price {
    margin-top: 30px;
  }
  .#{$item}-price-current {
    font-size: 24px;
    line-height: 24px;
  }
  .#{$item}-price-old {
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    text-decoration: line-through;
    margin-top: 10px;
  }
  .#{$item}-buttons {
    font-size: 0;
    margin-top: 30px;
  }
  .#{$item}-buttons-wrap {
    margin: -10px;
  }
  .#{$item}-button {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    color: #2c2c2c;
    text-decoration: none;
    padding: 17px 30px;
    margin: 10px;
    border: 2px solid #f8b900;
    background-color: #f8b900;
    @include border-radius(3px);
    @include user-select(none);
    @include transition(#{color, border-color, background-color}, 0.4s);

    &:hover {
      color: #FFF;
    }
  }
  .#{$item}-button-additional {
    background-color: transparent;
  }
  .#{$item}-marks {
    margin-top: 30px;
  }
  .#{$item}-marks-name {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .#{$item}-marks-items {
    font-size: 0;
    margin: -5px;
  }
  .#{$item}-marks-item {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
    padding: 7px 10px;
    margin: 5px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.25);
    @include border-radius(5px);
    @include user-select(none);

    &:nth-child(1) {
      background: #FC2A5C;
    }
    &:nth-child(2) {
      background: #116AFC;
    }
    &:nth-child(3) {
      background: #16DC95;
    }
    &:nth-child(4) {
      background: #16dcca;
    }
    &:nth-child(5) {
      background: #ab16dc;
    }
    &:nth-child(6) {
      background: #dcb116;
    }
  }

  .#{$tabs} {
    margin-bottom: 40px;
  }
  .#{$tabs}-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .#{$tabs}-items {
    font-size: 0;
    margin: -5px;
  }
  .#{$tabs}-item {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    padding: 20px 30px;
    margin: 5px;
    white-space: nowrap;
    cursor: pointer;
    @include user-select(none);
    @include border-radius(28px);
    @include transition(#{color, background-color}, 0.4s);

    &:hover,
    &[data-active='true'] {
      color: #FFF;
    }
  }

  .#{$class}-more {
    display: block;
    font-size: 0;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    line-height: 1px;
    margin-top: 30px;

    & + .#{$class}-navigation {
      margin-top: 20px;
    }
  }
  .#{$class}-more-button {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }
  .#{$class}-more-icon {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-align: center;
    height: 16px;
    width: 16px;
    padding: 7px;
    background: #0065ff;
    vertical-align: middle;
    @include border-radius(50%);
    @include box-sizing(content-box);
    @include transition(transform, 0.4s);
  }
  .#{$class}-more-text {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 10px;
    vertical-align: middle;
  }
  .#{$class}-more-button:hover {
    .#{$class}-more-icon {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  [data-scheme='white'] {
    .#{$item}-type,
    .#{$item}-name,
    .#{$item}-description,
    .#{$item}-price-current,
    .#{$item}-price-old,
    .#{$item}-button-additional,
    .#{$item}-marks-name {
      color: #FFF;
    }
    .#{$item}-button-additional {
      border-color: #FFF;
    }
  }
  [data-scheme='black'] {
    .#{$item}-type,
    .#{$item}-name,
    .#{$item}-description,
    .#{$item}-price-current,
    .#{$item}-price-old,
    .#{$item}-button-additional,
    .#{$item}-marks-name {
      color: #000;
    }
    .#{$item}-button-additional {
      border-color: #000;

      &:hover {
        color: #FFF;
      }
    }
  }
  [data-align='left'] {
    text-align: left;
  }
  [data-align='center'] {
    text-align: center;
  }
  [data-align='right'] {
    text-align: right;
  }

  @media all and (max-width: 1024px) {
    .#{$item} {
      .#{$item}-content {
        -ms-flex-direction: column-reverse!important;
        flex-direction: column-reverse!important;
      }
      .#{$item}-marks {
        text-align: left;
        margin-top: 0;
      }
    }
    .#{$item}-image {
      display: none;
    }
  }
  @media all and (max-width: 768px) {
    .#{$item} {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .#{$item}-logotype {
      img {
        max-width: 60px;
      }
    }
    .#{$item}-name {
      font-size: 18px;
      line-height: 24px;
    }
    .#{$item}-description {
      font-size: 14px;
      line-height: 21px;
      margin-top: 20px;
    }
    .#{$item}-price {
      margin-top: 20px;
    }
    .#{$item}-price-current {
      font-size: 20px;
      line-height: 20px;
    }
    .#{$item}-price-old {
      font-size: 16px;
      line-height: 16px;
    }
    .#{$item}-button {
      font-size: 14px;
      line-height: 14px;
      padding: 15px 25px;
    }
    .#{$item}-marks-name {
      font-size: 14px;
      line-height: 21px;
    }
    .#{$item}-marks-item {
      font-size: 12px;
      line-height: 12px;
    }
    .#{$tabs}-item {
      font-size: 16px;
      line-height: 16px;
      padding: 15px 25px;
    }
  }
  @media all and (max-width: 500px) {
    .#{$item}-logotype {
      display: none;
    }
    .#{$tabs}-item {
      font-size: 14px;
      line-height: 14px;
      padding: 10px 20px;
    }
  }
}